<div class="statistic-list-bar-wrapper">

  <div
    ...attributes
    class="statistic-list-bar {{ this.spentEffortsBarColor }}"
    {{style --value=(concat @value)}}
  ></div>
  {{#if (and @remaining (lte @remaining 1))}}
    <div
      ...attributes
      class="statistic-list-bar remaining
        {{if (gt @remaining @goal) 'danger' 'success'}}"
      {{style --value=(concat @remaining)}}
    ></div>
  {{/if}}
  {{#if @goal}}
    <div
      ...attributes
      class="statistic-list-bar-goal"
      {{style --goal=(concat (min "0.99" @goal))}}
    ></div>
  {{/if}}
</div>
