<label hidden for="activity-edit-form">Edit activity</label>
<form
  id="activity-edit-form"
  data-test-activity-edit-form
  {{on "submit" this.save}}
>
  <div class="card">
    <div class="card-header hidden-lg">
      <LinkTo @route="index.activities">{{fa-icon "chevron-left"}}</LinkTo>
    </div>
    <div class="card-block">
      <TaskSelection
        @task={{this.changeset.task}}
        @on-set-task={{fn (mut this.changeset.task)}}
        as |t|
      >
        <div class="form-group">{{t.customer}}</div>
        <div class="form-group">{{t.project}}</div>
        <div class="form-group">{{t.task}}</div>
      </TaskSelection>
    </div>
    <div class="card-footer text-right">
      <div class="form-group">
        <label hidden for="comment">Comment</label>
        <input
          type="text"
          class="form-control comment-field"
          placeholder="Comment"
          name="comment"
          id="comment"
          value={{this.changeset.comment}}
          {{on
            "change"
            (pick "target.value" (fn (mut this.changeset.comment)))
          }}
        />
        {{#if this.changeset.task.project.customerVisible}}
          <CustomerVisibleIcon class="customer-visible-icon" />
        {{/if}}
      </div>
      <div class="form-group checkboxes">
        <SyCheckbox
          data-test-activity-review
          @checked={{this.changeset.review}}
          @label={{"Needs review"}}
          @onChange={{toggle "review" this.changeset}}
        />
        <SyCheckbox
          data-test-activity-not-billable
          @checked={{this.changeset.notBillable}}
          @label="Not billable"
          @onChange={{toggle "notBillable" this.changeset}}
        />
      </div>
      <table class="table table--striped table--activity-edit">
        <tbody>
          <tr data-test-activity-block-row>
            <td class="form-group {{if this.changeset.error.from 'has-error'}}">
              <SyTimepicker
                @value={{this.changeset.from}}
                @max={{this.changeset.to}}
                @precision={{1}}
                @onFocusOut={{(fn this.validateChangeset this.changeset)}}
                @onChange={{(fn (mut this.changeset.from))}}
              />
            </td>
            <td>-</td>
            <td class="form-group {{if this.changeset.error.to 'has-error'}}">
              <SyTimepicker
                @value={{this.changeset.to}}
                @min={{this.changeset.from}}
                @precision={{1}}
                @disabled={{(if this.changeset.active true)}}
                @onFocusOut={{(fn this.validateChangeset this.changeset)}}
                @onChange={{(fn (mut this.changeset.to))}}
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-right">
      <button
        class="btn btn-danger"
        type="button"
        disabled={{@model.active}}
        {{on "click" this.delete}}
        data-test-activity-edit-form-delete
      >Delete</button>
      <button
        class="btn btn-primary"
        type="submit"
        disabled={{not this.saveEnabled}}
        data-test-activity-edit-form-save
      >Save</button>
    </div>
  </div>
</form>
