{{#sy-sidenav title='Timed' showAutohideButton=false as |component section|}}
  {{#if (eq section 'body')}}
    {{#sy-sidenav-list}}
      {{sy-sidenav-item 'index' 'clock-o' 'Tracking'}}
      {{sy-sidenav-item 'me' 'user' 'Profile'}}
    {{/sy-sidenav-list}}

    {{#sy-sidenav-list ' '}}
      {{#sy-sidenav-item}}
        <a data-test-logout href="#" {{action 'invalidateSession'}}>
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      {{/sy-sidenav-item}}
    {{/sy-sidenav-list}}
  {{else}}
    <main class="page-main">
      {{#if loading}}<span class="loader"></span>{{/if}}
      <div class="page-wrapper">
        <div class="page-content page-content--scroll">
          {{tracking-bar}}
          {{outlet}}
        </div>
      </div>
    </main>
  {{/if}}
{{/sy-sidenav}}
