{{#sy-sidenav title='Timed' showAutohideButton=false as |component section|}}
  {{#if (eq section 'body')}}
    {{#sy-sidenav-list}}
      {{sy-sidenav-item 'index' 'clock-o' 'Tracking'}}
      {{sy-sidenav-item 'me' 'user' 'Profile'}}
      {{sy-sidenav-item 'analysis' 'line-chart' 'Analysis'}}
    {{/sy-sidenav-list}}

    {{#if model.isStaff}}
      {{#sy-sidenav-list 'Staff Menu'}}
        {{sy-sidenav-item 'reschedule' 'refresh' 'Reschedule'}}
      {{/sy-sidenav-list}}
    {{/if}}
    {{#sy-sidenav-list ' '}}
      {{#sy-sidenav-item}}
        <a data-test-logout href="#" {{action 'invalidateSession'}}>
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      {{/sy-sidenav-item}}
    {{/sy-sidenav-list}}
  {{else}}
    <main class="page-main">
      {{#if loading}}<span class="loader"></span>{{/if}}
      <div class="page-wrapper">
        <div class="page-content page-content--scroll">
          {{outlet}}
        </div>
      </div>
    </main>
  {{/if}}
{{/sy-sidenav}}
