{{#sy-sidenav title='Timed' showAutohideButton=true as |component section|}}
  {{#if (eq section 'body')}}
    {{#sy-sidenav-list}}
      {{sy-sidenav-item 'index' 'clock-o' 'Tracking'}}
    {{/sy-sidenav-list}}

    {{#sy-sidenav-list ' '}}
      {{#sy-sidenav-item}}
        <a data-test-logout href="#" {{action 'invalidateSession'}}>
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      {{/sy-sidenav-item}}
    {{/sy-sidenav-list}}
  {{else}}
    <main class="page-main">
      {{tracking-bar
        customers = customers
        projects  = projects
        tasks     = tasks
        activity  = currentActivity
        on-stop   = (action 'stopActivity')
        on-pause  = (action 'pauseActivity')
        on-start  = (action 'startActivity')
      }}
      <div class="page-wrapper">
        <div class="page-content page-content--scroll">
          {{outlet}}
        </div>
      </div>
    </main>
  {{/if}}
{{/sy-sidenav}}
