{{#let (assign this.publicAPI (hash
  nav=(component this.navComponent calendar=(readonly this.publicAPI) onCenterChange=(readonly this.onCenterChange))
  days=(component this.daysComponent calendar=(readonly this.publicAPI) onSelect=(readonly this.onSelect))
)) as |calendar|}}
  <calendar.nav>
    <span class="nav-select-month">
      {{#let (moment-format calendar.center 'MMMM') as |currentMonth|}}
        {{currentMonth}}
        <select onchange={{action 'changeCenter' 'month'}}>
          {{#each this.months as |month|}}
            <option value={{month}} selected={{eq month currentMonth}}>{{month}}</option>
          {{/each}}
        </select>
      {{/let}}
    </span>
    <span class="nav-select-year">
      {{#let (moment-format calendar.center 'YYYY') as |currentYear|}}
        {{currentYear}}
        <select onchange={{action 'changeCenter' 'year'}}>
          {{#each this.years as |year|}}
            <option value={{year}} selected={{eq year currentYear}}>{{year}}</option>
          {{/each}}
        </select>
      {{/let}}
    </span>
  </calendar.nav>
  {{calendar.days}}
{{/let}}