<div class="grid grid--12of12 grid-md--6of12 grid-lg--4of12">
  <div class="grid-cell">
    <h4>General information</h4>
    <div class="card">
      <div class="card-block">
        <table class="user-general-info">
          <tbody>
            <tr>
              <td>Email:</td>
              <td>{{this.model.email}}</td>
            </tr>
            <tr>
              <td>Username:</td>
              <td>{{this.model.username}}</td>
            </tr>
            {{#if this.model.activeEmployment}}
              <tr>
                <td>Location:</td>
                <td>{{this.model.activeEmployment.location.name}}</td>
              </tr>
              <tr>
                <td>Contract type:</td>
                <td>{{if
                    this.model.activeEmployment.isExternal
                    "External"
                    "Internal"
                  }}</td>
              </tr>
              <tr>
                <td>Percentage:</td>
                <td>{{this.model.activeEmployment.percentage}}%</td>
              </tr>
              <tr>
                <td>Worktime:</td>
                <td>{{humanize-duration
                    this.model.activeEmployment.worktimePerDay
                    false
                  }}</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <h4>Employments</h4>
    <div class="card">
      <div class="card-block">
        {{#if this.employments.isRunning}}
          <div class="empty">
            <LoadingIcon />
          </div>
        {{else}}
          {{#with this.employments.lastSuccessful.value as |employments|}}
            <table class="table table--striped">
              <thead>
                <tr>
                  <th>Location</th>
                  <th>Percentage</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
              </thead>
              <tbody>
                {{#each employments as |employment|}}
                  <tr>
                    <td>{{employment.location.name}}</td>
                    <td>{{employment.percentage}}%</td>
                    <td>{{moment-format employment.start "DD.MM.YYYY"}}</td>
                    <td>{{if
                        employment.end
                        (moment-format employment.end "DD.MM.YYYY")
                        "-"
                      }}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="card-block empty">
              <div>
                {{fa-icon "briefcase"}}
                <p>
                  No employments found...
                </p>
              </div>
            </div>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <h4>Absences</h4>
    <div class="card">
      <div class="card-block">
        {{#if this.absences.isRunning}}
          <div class="empty">
            <LoadingIcon />
          </div>
        {{else}}
          {{#with this.absences.lastSuccessful.value as |absences|}}
            <table class="table table--striped">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {{#each absences as |absence|}}
                  <tr>
                    <td>{{absence.absenceType.name}}</td>
                    <td>{{moment-format absence.date "DD.MM.YYYY"}}</td>
                    <td>{{absence.comment}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="card-block empty">
              <div>
                {{fa-icon "calendar-times-o"}}
                <p>
                  No absences found...
                </p>
              </div>
            </div>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
