{{#basic-dropdown
  horizontalPosition = 'right'
  verticalPosition   = 'below'
  as |dd|
}}
  {{#dd.trigger}}
    <input
      readonly
      type="text"
      class="form-control picker"
      value={{format-duration value false}}
    >
  {{/dd.trigger}}

  {{#dd.content renderInPlace=true}}
    <div class="sy-durationpicker-picker">
      <div class="hour">
        <button data-test-sy-durationpicker-inc-h {{action 'increase' 60}}>
          {{fa-icon 'chevron-up'}}
        </button>
        {{pad-start hours 2}}
        <button data-test-sy-durationpicker-dec-h {{action 'decrease' 60}}>
          {{fa-icon 'chevron-down'}}
        </button>
      </div>
      <div class="minute">
        <button data-test-sy-durationpicker-inc-m {{action 'increase' 15}}>
          {{fa-icon 'chevron-up'}}
        </button>
        {{pad-start minutes 2}}
        <button data-test-sy-durationpicker-dec-m {{action 'decrease' 15}}>
          {{fa-icon 'chevron-down'}}
        </button>
      </div>
    </div>
  {{/dd.content}}
{{/basic-dropdown}}
