<h1>Project analysis</h1>

{{report-filter
  billingTypes  = billingTypes
  initial       = (hash
    customer    = _customer
    project     = _project
    task        = _task
    user        = _user
    reviewer    = _reviewer
    billingType = billing_type
    fromDate    = _from
    toDate      = _to
    review      = review
    notBillable = not_billable
    notVerified = not_verified
  )
  on-apply      = (action 'applyFilter')
}}

{{#paginated-table
  data-test-filter-results
  pages     = model.meta.pagination.pages
  page      = page
  page_size = page_size
  class     = 'table--analysis-reschedule'
}}
  <thead>
    <tr>
      {{#sort-header update=(action (mut ordering)) current=ordering by='user__username'}}User{{/sort-header}}
      {{#sort-header update=(action (mut ordering)) current=ordering by='date'}}Date{{/sort-header}}
      {{#sort-header update=(action (mut ordering)) current=ordering by='duration'}}Duration{{/sort-header}}
      {{#sort-header update=(action (mut ordering)) current=ordering by='task__project__customer__name'}}Customer{{/sort-header}}
      {{#sort-header update=(action (mut ordering)) current=ordering by='task__project__name'}}Project{{/sort-header}}
      {{#sort-header update=(action (mut ordering)) current=ordering by='task__name'}}Task{{/sort-header}}
      {{#sort-header update=(action (mut ordering)) current=ordering by='comment'}}Comment{{/sort-header}}
      <th>Needs review</th>
      <th>Not billable</th>
      <th>Verifier</th>
    </tr>
  </thead>
{{^}}
  <tbody>
    {{#each model as |report|}}
      <tr>
        <td>{{report.user.username}}</td>
        <td>{{moment-format report.date 'DD.MM.YYYY'}}</td>
        <td>{{format-duration report.duration false}}</td>
        <td>{{report.task.project.customer.name}}</td>
        <td>{{report.task.project.name}}</td>
        <td>{{report.task.name}}</td>
        <td>{{report.comment}}</td>
        <td>{{sy-checkmark checked=report.review}}</td>
        <td>{{sy-checkmark checked=report.notBillable}}</td>
        <td>{{if report.verifiedBy report.verifiedBy.username}}</td>
      </tr>
    {{^}}
      <tr>
        <td colspan="11" class="text-center">
          {{#if (is-array model)}}
            I didn't find any results - try loosening your filters!
          {{else}}
            Please specify some filter parameters.
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
{{/paginated-table}}

{{#if model}}
  <p>
    {{#each exportLinks as |link index|}}
      <button {{action 'download' link.url}}
        disabled={{gt model.length 4000}}
        class="btn btn-default"
        data-test-download-file={{index}}>{{link.label}}</button>
    {{/each}}
    {{#if (gt model.length 4000)}}
      More than 4000 rows were found. Please narrow down your search export results.
    {{/if}}
  </p>
{{/if}}
