<div
  ...attributes
  class="sy-toggle {{if @value 'active' 'inactive'}}"
  title={{@hint}}
  tabindex="0"
  role="button"
  {{on "click" (unless @disabled (fn (optional @onToggle)))}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <FaIcon @icon={{@icon}} @fixedWidth={{true}} @size={{or @size "1x"}} />
  {{/if}}
</div>
