<h1>Customers</h1>

<div class="toolbar">
  <div class="toolbar-content">
    {{#link-to 'customers.new' tagName='button' class='btn btn-success'}}New Customer{{/link-to}}
  </div>
  <div class="toolbar-content toolbar-content--right">
    <div class="form-inline">
      <div class="form-group">
        <input type="search" class="form-control" value={{search}} placeholder='Search' oninput={{action 'updateParam' 'search'}}>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" {{action 'clearFilter'}}>Clear Filter</button>
      </div>
    </div>
  </div>
</div>

{{#paginated-table model=model page=page as |table|}}
  {{#table.header}}
    <th>Name</th>
    <th>Email</th>
    <th>Website</th>
    <th>Comment</th>
  {{/table.header}}
  {{#table.body loading=loading model=model as |row|}}
    {{#link-to 'customers.edit' row.id tagName='tr' class='pointer'}}
      <td>{{row.name}}</td>
      <td>{{row.email}}</td>
      <td><a href="{{row.website}}" rel="noopener" target="_blank">{{row.website}}</a></td>
      <td>{{row.comment}}</td>
    {{/link-to}}
  {{/table.body}}
{{/paginated-table}}
