{{range-slider
  start     = start
  step      = 15
  min       = 0
  max       = 1440
  connect   = true
  animate   = true
  behaviour = "drag"
  tooltips  = tooltips
  on-slide  = (action (mut values))
  on-change = 'save'
}}

<div class="slider-labels">
  {{#each labels as |label|}}
    <div style={{label.style}} class="slider-label slider-label--{{label.size}}">
      <div class="slider-label-text">
        {{label.value}}
      </div>
    </div>
  {{/each}}
</div>

<div class="slider-title">
  <span>{{duration}}</span> {{fa-icon data-test-delete-attendance 'trash' click=(action 'delete')}}
</div>
