<RangeSlider @start={{this.start}} @step={{15}} @min={{0}} @max={{1440}} @connect={{true}} @animate={{true}} @behaviour="drag" @tooltips={{this.tooltips}} @on-slide={{action (mut this.values)}} @on-change={{action (perform this.save)}} />

<div class="slider-labels">
  {{#each this.labels as |label|}}
    <div style={{label.style}} class="slider-label slider-label--{{label.size}}">
      <div class="slider-label-text">
        {{label.value}}
      </div>
    </div>
  {{/each}}
</div>

<div class="slider-title">
  <span>{{this.duration}}</span> {{fa-icon data-test-delete-attendance 'trash' click=(perform this.delete)}}
</div>
