{{#if (or (media "isMo") (media "isXs") (media "isSm"))}}
  <NoMobileMessage />
{{else}}
  <PagePermission>
    <h1>Statistics</h1>

    <TaskSelection
      @history={{false}}
      @archived={{true}}
      @on-set-customer={{fn this.setModelFilter "customer"}}
      @on-set-project={{fn this.setModelFilter "project"}}
      @on-set-task={{fn this.setModelFilter "task"}}
      @initial={{hash
        customer=this.selectedCustomer
        project=this.selectedProject
        task=this.selectedTask
      }}
      as |t|
    >
      <FilterSidebar
        @appliedCount={{this.appliedFilters.length}}
        @onReset={{(queue t.clear this.resetQP)}}
        as |fs|
      >
        <fs.group @label="Task" @expanded={{true}}>
          <fs.label>
            Customer
            <fs.filter data-test-filter-customer>
              <t.customer />
            </fs.filter>
          </fs.label>
          <fs.label>
            Project
            <fs.filter data-test-filter-project>
              <t.project />
            </fs.filter>
          </fs.label>
          <fs.label>
            Task
            <fs.filter data-test-filter-task>
              <t.task />
            </fs.filter>
          </fs.label>
        </fs.group>
        <fs.group @label="Responsibility">
          <fs.label>
            User
            <fs.filter data-test-filter-user>
              <UserSelection
                @user={{this.selectedUser}}
                @onChange={{fn this.setModelFilter "user"}}
                as |u|
              >
                <u.user />
              </UserSelection>
            </fs.filter>
          </fs.label>
          <fs.label>
            Reviewer
            <fs.filter data-test-filter-reviewer>
              <UserSelection
                @user={{this.selectedReviewer}}
                @onChange={{fn this.setModelFilter "reviewer"}}
                @queryOptions={{hash is_reviewer=1}}
                as |u|
              >
                <u.user @placeholder="Select reviewer..." />
              </UserSelection>
            </fs.filter>
          </fs.label>
        </fs.group>
        <fs.group @label="Finances">
          <fs.label>
            Billing type
            <fs.filter
              data-test-filter-billing-type
              @type="select"
              @selected={{this.billingType}}
              @valuePath="id"
              @labelPath="name"
              @prompt="All billing types"
              @options={{this.billingTypes}}
              @onChange={{fn (mut this.billingType)}}
            />
          </fs.label>
          <fs.label>
            Cost center
            <fs.filter
              data-test-filter-cost-center
              @type="select"
              @selected={{this.costCenter}}
              @valuePath="id"
              @labelPath="name"
              @prompt="All cost centers"
              @options={{this.costCenters}}
              @onChange={{fn (mut this.costCenter)}}
            />
          </fs.label>
        </fs.group>
        <fs.group @label="Time range">
          <fs.label>
            From
            <fs.filter
              data-test-filter-from-date
              @type="date"
              @selected={{moment this.fromDate}}
              @onChange={{fn this.updateParam "fromDate"}}
            />
          </fs.label>
          <fs.label>
            To
            <fs.filter
              data-test-filter-to-date
              @type="date"
              @selected={{moment this.toDate}}
              @onChange={{fn this.updateParam "toDate"}}
            />
          </fs.label>
          <DateButtons
            @onUpdateFromDate={{fn this.updateParam "fromDate"}}
            @onUpdateToDate={{fn this.updateParam "toDate"}}
          />
        </fs.group>
        <fs.group @label="State">
          <fs.label>
            Review
            <fs.filter
              data-test-filter-review
              @type="button"
              @selected={{this.review}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Needed" value="1")
                (hash label="Not needed" value="0")
              }}
              @onChange={{fn this.updateParam "review"}}
            />
          </fs.label>
          <fs.label>
            Billability
            <fs.filter
              data-test-filter-not-billable
              @type="button"
              @selected={{this.notBillable}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Billable" value="0")
                (hash label="Not billable" value="1")
              }}
              @onChange={{fn this.updateParam "notBillable"}}
            />
          </fs.label>
          <fs.label>
            Verified
            <fs.filter
              data-test-filter-verified
              @type="button"
              @selected={{this.verified}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Verified" value="1")
                (hash label="Not verified" value="0")
              }}
              @onChange={{fn this.updateParam "verified"}}
            />
          </fs.label>
          <fs.label>
            Billed
            <fs.filter
              data-test-filter-billed
              @type="button"
              @selected={{this.billed}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Billed" value="1")
                (hash label="Not Billed" value="0")
              }}
              @onChange={{fn this.updateParam "billed"}}
            />
          </fs.label>
        </fs.group>
      </FilterSidebar>
    </TaskSelection>

    <div>
      <ul class="nav-tabs">
        {{#each this.types as |t|}}
          <li>
            <a
              href="#"
              class={{if (eq t this.type) "active"}}
              {{on "click" (fn this.updateParam "type" t)}}
            >
              By
              {{t}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="tab-content grid">
      <StatisticList
        class="grid-cell"
        @data={{this.data}}
        @type={{this.type}}
        @missingParams={{this.missingParams}}
        @ordering={{this.ordering}}
        @onOrderingChange={{fn this.updateParam "ordering"}}
      />
    </div>
  </PagePermission>
{{/if}}
