{{#if (or (media 'isMo') (media 'isXs') (media 'isSm'))}}
  <NoMobileMessage/>
{{else}}
  <PagePermission>
    <h1>Statistics</h1>

    <TaskSelection
      @history={{false}}
      @archived={{true}}
      @on-set-customer={{action 'setModelFilter' 'customer'}}
      @on-set-project={{action 'setModelFilter' 'project'}}
      @on-set-task={{action 'setModelFilter' 'task'}}
      @initial={{hash
        customer      = selectedCustomer
        project       = selectedProject
        task          = selectedTask
      }}
      as |t|
    >
      <FilterSidebar
        @appliedCount={{this.appliedFilters.length}}
        @on-reset={{action (queue t.clear (action 'reset'))}}
        as |fs|
      >
        <fs.group @label='Task' @expanded={{true}}>
          <fs.label>
            Customer
            <fs.filter data-test-filter-customer>
              <t.customer/>
            </fs.filter>
          </fs.label>
          <fs.label>
            Project
            <fs.filter data-test-filter-project>
              <t.project/>
            </fs.filter>
          </fs.label>
          <fs.label>
            Task
            <fs.filter data-test-filter-task>
              <t.task/>
            </fs.filter>
          </fs.label>
        </fs.group>
        <fs.group @label='Responsibility'>
          <fs.label>
            User
            <fs.filter data-test-filter-user>
              <UserSelection
                @user={{this.selectedUser}}
                @on-change={{action 'setModelFilter' 'user'}}
              as |u|>
                <u.user/>
              </UserSelection>
            </fs.filter>
          </fs.label>
          <fs.label>
            Reviewer
            <fs.filter data-test-filter-reviewer>
              <UserSelection
                @user={{this.selectedReviewer}}
                @on-change={{action 'setModelFilter' 'reviewer'}}
                @queryOptions={{hash is_reviewer=1}}
              as |u|>
                <u.user @placeholder='Select reviewer...'/>
              </UserSelection>
            </fs.filter>
          </fs.label>
        </fs.group>
        <fs.group @label='Finances'>
          <fs.label>
            Billing type
            <fs.filter
              data-test-filter-billing-type
              @type='select'
              @selected={{this.billingType}}
              @valuePath='id'
              @labelPath='name'
              @prompt='All billing types'
              @options={{this.billingTypes}}
              @on-change={{fn (mut billingType)}}
            />
          </fs.label>
          <fs.label>
            Cost center
            <fs.filter
              data-test-filter-cost-center
              @type='select'
              @selected={{this.costCenter}}
              @valuePath='id'
              @labelPath='name'
              @prompt='All cost centers'
              @options={{this.costCenters}}
              @on-change={{fn (mut costCenter)}}
            />
          </fs.label>
        </fs.group>
        <fs.group @label='Time range'>
          <fs.label>
            From
            <fs.filter
              data-test-filter-from-date
              @type='date'
              @selected={{this.fromDate}}
              @on-change={{fn (mut fromDate)}}
            />
          </fs.label>
          <fs.label>
            To
            <fs.filter
              data-test-filter-to-date
              @type='date'
              @selected={{this.toDate}}
              @on-change={{fn (mut toDate)}}
            />
          </fs.label>
          <DateButtons
              @onUpdateFromDate={{fn (mut fromDate)}}
              @onUpdateToDate={{fn (mut toDate)}}
          />
        </fs.group>
        <fs.group @label='State'>
          <fs.label>
            Review
            <fs.filter
              data-test-filter-review
              @type='button'
              @selected={{this.review}}
              @valuePath='value'
              @labelPath='label'
              @options={{array
                (hash label='All' value='')
                (hash label='Needed' value='1')
                (hash label='Not needed' value='0')
              }}
              @on-change={{fn (mut review)}}
            />
          </fs.label>
          <fs.label>
            Billability
            <fs.filter
              data-test-filter-not-billable
              @type='button'
              @selected={{this.notBillable}}
              @valuePath='value'
              @labelPath='label'
              @options={{array
                (hash label='All' value='')
                (hash label='Billable' value='0')
                (hash label='Not billable' value='1')
              }}
              @on-change={{fn (mut notBillable)}}
            />
          </fs.label>
          <fs.label>
            Verified
            <fs.filter
              data-test-filter-verified
              @type='button'
              @selected={{this.verified}}
              @valuePath='value'
              @labelPath='label'
              @options={{array
                (hash label='All' value='')
                (hash label='Verified' value='1')
                (hash label='Not verified' value='0')
              }}
              @on-change={{fn (mut verified)}}
            />
          </fs.label>
          <fs.label>
            Billed
            <fs.filter
              data-test-filter-billed
              @type='button'
              @selected={{this.billed}}
              @valuePath='value'
              @labelPath='label'
              @options={{array
                (hash label='All' value='')
                (hash label='Billed' value='1')
                (hash label='Not Billed' value='0')
              }}
              @on-change={{fn (mut billed)}}
            />
          </fs.label>
        </fs.group>
      </FilterSidebar>
    </TaskSelection>

    <div>
      <ul class="nav-tabs">
        {{#each types as |t|}}
          <li>
            <a href="#" class={{if (eq t type) 'active'}} {{on 'click' (fn (mut type) t)}}>
              By {{t}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="tab-content grid">
      <StatisticList
        class='grid-cell'
        @data={{this.data}}
        @type={{this.type}}
        @missingParams={{this.missingParams}}
        @ordering={{this.ordering}}
        @on-ordering-change={{fn (mut ordering)}}
      />
    </div>
  </PagePermission>
{{/if}}
