<button
  id="datepicker-button-{{elementId}}"
  title="Select date"
  class="btn btn-default"
  {{action (toggle 'showCalendar' this) on='click'}}
>
  {{fa-icon 'calendar'}}
</button>

{{#ember-tether
  target           = (concat '#datepicker-button-' elementId)
  targetAttachment = 'bottom right'
  bodyElement      = bodyElement
  attachment       = 'top right'
}}
  {{#if showCalendar}}
    {{#power-calendar
      class          = 'datepicker-button-calendar'
      center         = center
      selected       = current
      onCenterChange = (action (mut center) value='moment')
      onSelect       = (action 'change' value='moment') as |calendar|
    }}
      {{calendar.nav}}
      {{calendar.days}}
    {{/power-calendar}}
  {{/if}}
{{/ember-tether}}
