{{#if (eq this.type 'button')}}
  <div class="btn-group btn-group--auto">
    {{#each this.options as |opt|}}
      <button
        class="btn {{if (eq (get opt this.valuePath) this.selected) 'active'}}"
        {{action (optional this.on-change) (get opt this.valuePath)}}
      >
        {{get opt this.labelPath}}
      </button>
      {{yield}}
    {{/each}}
  </div>
{{else if (eq this.type 'date')}}
  {{sy-datepicker
    value=this.selected
    on-change=(action (optional this.on-change))
    placeholder=(if this.placeholder this.placeholder)
    name=(if this.name this.name 'date')
  }}
{{else if (eq this.type 'search')}}
  <input
    type="search"
    class="form-control"
    placeholder={{if this.placeholder this.placeholder 'Search'}}
    name={{if this.name this.name 'search'}}
    value={{this.selected}}
    oninput={{action (optional this.on-change) value='target.value'}}
    onchange={{action (optional this.on-change) value='target.value'}}
  >
{{else if (eq this.type 'select')}}
  <select class="form-control" onchange={{action (optional this.on-change) value='target.value'}}>
    {{#if this.prompt}}
      <option value="">{{this.prompt}}</option>
    {{/if}}
    {{#each this.options as |opt|}}
      <option
        value={{get opt this.valuePath}}
        selected={{if (eq this.selected (get opt this.valuePath)) 'selected'}}
      >
        {{get opt this.labelPath}}
      </option>
    {{/each}}
    {{yield}}
  </select>
{{else}}
  {{yield}}
{{/if}}