{{#with (changeset report validator) as |changeset|}}
  {{#sy-modal visible=visible as |modal|}}
    {{#modal.header close=(action 'close' changeset)}}
      {{if changeset.isNew 'New' 'Edit'}} report
    {{/modal.header}}
    {{#modal.body}}
      {{task-selection
        changeset = changeset
        error      = changeset.error.task
        showLabels = true
        task       = changeset.task
        customers  = customers
        projects   = projects
        tasks      = tasks
        on-change  = (action (mut changeset.task))
      }}
      <div class="grid grid--4of12">
        <div data-test-report-duration class="grid-cell form-group {{if changeset.error.duration 'has-error'}}">
          <label>Duration <span class="required">*</span></label>
          {{sy-durationpicker
            value     = changeset.duration
            on-change = (action (mut changeset.duration))
          }}
          {{#if changeset.error.duration}}
            <p class="error-text">
              {{#each changeset.error.duration.validation as |message index|}}
                {{if (gt index 0) ', '}}{{message}}
              {{/each}}
            </p>
          {{/if}}
        </div>
        <div data-test-report-not-billable class="grid-cell grid-cell--align-end form-group checkbox {{if changeset.error.notBillable 'has-error'}}">
          {{input
            elementId = 'notBillable'
            type      = 'checkbox'
            checked   = changeset.notBillable
          }}
          <label for="notBillable">Not billable</label>
        </div>
        <div data-test-report-review class="grid-cell grid-cell--align-end form-group checkbox {{if changeset.error.review 'has-error'}}">
          {{input
            elementId = 'review'
            type      = 'checkbox'
            checked   = changeset.review
          }}
          <label for="review">Needs review</label>
        </div>
      </div>
      <div data-test-report-comment class="form-group">
        <label>Comment</label>
        {{textarea
          placeholder = 'Enter comment...'
          rows        = 4
          class       = 'form-control'
          value       = changeset.comment
        }}
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      <button
        class="btn btn-primary"
        disabled="{{unless changeset.isValid 'disabled'}}"
        {{action 'save' changeset}}
      >
        Save
      </button>
      {{#unless changeset.isNew}}
      <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
      {{/unless}}
    {{/modal.footer}}
  {{/sy-modal}}
{{/with}}
