<div>
  <ul class="nav-tabs">
    <li>{{#link-to 'index.activities'}}Activities <span class="badge">{{activitySum}}</span>{{/link-to}}</li>
      <li>{{#link-to 'index.attendances'}}Attendances <span class="badge">{{attendanceSum}}</span>{{/link-to}}</li>
      <li>{{#link-to 'index.reports'}}Reports <span class="badge">{{reportSum}}</span>{{/link-to}}</li>
    {{date-navigation class='btn-toolbar--right' current=date on-change=(action (mut date))}}
  </ul>
  <div class="tab-content">
    {{outlet}}
  </div>
</div>
