{{tracking-bar data-test-tracking-bar}}
<div>
  <div class="grid grid--12of12">
    <div class="grid-cell grid-cell-sm--6of12">
      <h1 class="no-margin">{{moment-format model 'dddd, DD.MM.YYYY'}}</h1>
    </div>
    <div class="grid-cell grid-cell-sm--6of12 grid-cell--align-center">
      {{date-navigation current=date on-change=(action (mut date))}}
    </div>
    <div class="grid-cell visible-md">
      {{#weekly-overview expected=expectedWorktime}}
        {{#each weeklyOverviewData.lastSuccessful.value as |d|}}
          {{weekly-overview-day
            day      = d.day
            active   = d.active
            worktime = d.worktime
            workday  = d.workday
            absence  = d.absence
            holiday  = d.holiday
            prefix   = d.prefix
            on-click = (action (mut date))
            data-test-weekly-overview-day = (moment-format d.day 'DD')
          }}
        {{/each}}
      {{/weekly-overview}}
    </div>
    <div class="grid-cell hidden-sm">
      <div class="btn-group btn-group--vertical">
        <LinkTo @route="index.activities" @tagName="button" @type="button" class="btn">
          Activities <span class="badge">{{humanize-duration activitySum true}}</span>
        </LinkTo>
        <LinkTo @route="index.attendances" @tagName="button" @type="button" class="btn">
          Attendances <span class="badge">{{humanize-duration attendanceSum}}</span>
        </LinkTo>
        <LinkTo @route="index.reports" @tagName="button" @type="button" class="btn">
          Timesheet <span class="badge">{{humanize-duration reportSum}}</span>
        </LinkTo>
        {{#if absence}}
          <button
            type="button"
            data-test-edit-absence
            class="btn btn-warning"
            {{action (toggle 'showEditModal' this)}}
          >
            {{absence.type.name}}
          </button>
        {{/if}}
        <button
          type="button"
          data-test-add-absence
          class="btn btn-default"
          {{action (toggle 'showAddModal' this)}}
        >
          Add absence
        </button>
      </div>
    </div>
    <div class="grid-cell visible-sm">
      <ul class="nav-tabs">
        <li>
          <LinkTo @route="index.activities">
            Activities <span class="badge">{{humanize-duration activitySum true}}</span>
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="index.attendances">
            Attendances <span class="badge">{{humanize-duration attendanceSum}}</span>
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="index.reports">
            Timesheet <span class="badge">{{humanize-duration reportSum}}</span>
          </LinkTo>
        </li>
        <li class="nav-tab--buttons">
          {{#if absence}}
            <button
              type="button"
              data-test-edit-absence
              class="btn btn-warning"
              {{action (toggle 'showEditModal' this)}}
            >
              {{absence.type.name}}
            </button>
          {{/if}}
          <button
            type="button"
            data-test-add-absence
            class="btn btn-default"
            {{action (toggle 'showAddModal' this)}}
          >
            Add absence
          </button>
        </li>
      </ul>
    </div>
    <div class="grid-cell">
      <div class="tab-content">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

{{#if absence}}
  {{#with (changeset absence AbsenceValidations) as |changeset|}}
    {{#sy-modal size='auto' visible=showEditModal on-close=(action 'rollback' changeset) as |modal|}}
      {{#validated-form data-test-edit-absence-form model=changeset on-submit=(route-action 'saveAbsence' changeset) as |f|}}
        <modal.header>
          Edit absence
        </modal.header>
        <modal.body>
          <f.input @name="type" as |fi|>
            <div class="btn-group btn-group--auto">
              {{#each absenceTypes as |at|}}
                <button type="button" class="btn btn-default {{if (eq at.id changeset.type.id) 'active'}}" {{action fi.update at}}>{{at.name}}</button>
              {{/each}}
            </div>
          </f.input>
          <f.input @name="date" as |fi|>
            <PowerCalendar @class="calendar" @selected={{changeset.date}} @center={{center}} @onCenterChange={{perform setCenter}} @onSelect={{action fi.update value='moment'}} as |calendar|>
              <div class={{if calendar.loading 'loading-mask'}}>
                {{calendar.nav}}
                <calendar.days @disabledDates={{disabledDatesForEdit}} @startOfWeek={{1}} />
              </div>
            </PowerCalendar>
          </f.input>
          <f.input @type="textarea" @placeholder="Enter comment..." @name="comment" />
        </modal.body>
        <modal.footer>
          <button type="button" class="btn btn-danger" {{action 'deleteAbsence' absence}}>Delete</button>
          <f.submit @label="Save" />
        </modal.footer>
      {{/validated-form}}
    {{/sy-modal}}
  {{/with}}
{{/if}}

{{#with (changeset newAbsence MultipleAbsenceValidations) as |changeset|}}
  {{#sy-modal size='auto' visible=showAddModal on-close=(action 'rollback' changeset) as |modal|}}
    {{#validated-form data-test-add-absence-form model=changeset on-submit=(route-action 'addAbsence' changeset) as |f|}}
      <modal.header>
        New absence
      </modal.header>
      <modal.body>
        <f.input @name="type" as |fi|>
          <div class="btn-group btn-group--auto">
            {{#each absenceTypes as |at|}}
              <button type="button" class="btn btn-default {{if (eq at.id changeset.type.id) 'active'}}" {{action fi.update at}}>{{at.name}}</button>
            {{/each}}
          </div>
        </f.input>
        <f.input @name="dates" as |fi|>
          <PowerCalendarMultiple
              @class="calendar"
              @selected={{changeset.dates}}
              @center={{center}}
              @onCenterChange={{perform setCenter}}
              @onSelect={{action fi.update value='moment'}}
              as |calendar|
          >
            <div class={{if calendar.loading 'loading-mask'}}>
              {{calendar.nav}}
              <calendar.days @disabledDates={{disabledDates}} @startOfWeek={{1}} />
            </div>
          </PowerCalendarMultiple>
        </f.input>
        <f.input @type="textarea" @placeholder="Enter comment..." @name="comment" />
      </modal.body>
      <modal.footer>
        <f.submit @label="Save" />
      </modal.footer>
    {{/validated-form}}
  {{/sy-modal}}
{{/with}}
