<div class="grid grid--12of12 grid-md--6of12">
  <div class="grid-cell">
    <h4>Projects</h4>
    <div class="card">
      <div class="card-block">
        {{#if this.projects.isRunning}}
          <div class="empty">
            <LoadingIcon />
          </div>
        {{else}}
          {{#let this.projects.lastSuccessful.value as |projects|}}
            {{#if projects}}
              <table class="table table--striped">
                <thead>
                  <tr>
                    <th>Customer</th>
                    <th>Project</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each projects as |project|}}
                    <tr>
                      <td>{{project.customer.name}}</td>
                      <td>{{project.name}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              <div class="card-block empty">
                <div>
                  <FaIcon @icon="folder-open" />
                  <p>
                    No projects found...
                  </p>
                </div>
              </div>
            {{/if}}
          {{/let}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <h4>Supervisees</h4>
    <div class="card">
      <div class="card-block">
        {{#if this.supervisees.isRunning}}
          <div class="empty">
            <LoadingIcon />
          </div>
        {{else}}
          {{#let this.supervisees.lastSuccessful.value as |supervisees|}}
            {{#if supervisees}}
              <table class="table table--striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Current worktime balance</th>
                    <th>Remaining vacation days</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each supervisees as |supervisee|}}
                    <tr
                    role="link"
                      {{on "click" (fn this.openSupervisorProfile supervisee.id)}}
                      class="pointer"
                    >
                      <td>{{supervisee.fullName}}</td>
                      <td>
                        <span
                          class="worktime-balance
                            {{balance-highlight-class
                              supervisee.currentWorktimeBalance.balance
                            }}"
                        >
                          {{format-duration
                            supervisee.currentWorktimeBalance.balance
                            false
                          }}
                        </span>
                      </td>

                      {{!
                      absenceBalances has to be an array but will always only
                      contain one element. This is why we use firstObject here.
                    }}
                      <td
                      >{{supervisee.absenceBalances.firstObject.balance}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              <div class="card-block empty">
                <div>
                  <FaIcon @icon="users" @prefix="fas" />
                  <p>No supervisees found...</p>
                </div>
              </div>
            {{/if}}
          {{/let}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
