<SyModal
  @size="auto"
  @visible={{@isVisible}}
  @onClose={{@onClose}}
  data-test-magic-link-modal
  as |modal|
>
  <div
    class="magic-link-modal"
    data-test-magic-link-form
  >
    <modal.header>
      Create a magic link
    </modal.header>
    <modal.body>
      <div data-test-task-selector>
        <TaskSelection
          @disabled={{false}}
          @task={{this.task}}
          @on-set-task={{this.onSetTask}}
          as |t|
        >
          <div
            class="form-list-cell form-group"
          >{{t.customer}}</div>
          <div
            class="form-list-cell form-group"
          >{{t.project}}</div>
          <div
            class="form-list-cell form-group"
          >{{t.task}}</div>
        </TaskSelection>
      </div>

      <div class="margin-medium-bottom">
        <Input
          @value={{this.comment}}
          class="ember-text-field form-control"
          placeholder="Comment"
          aria-label="Comment for the timed entry"
          data-test-magic-link-comment
        />
      </div>

      <div class="margin-medium-bottom">
        <div class="flex">
          <SyDurationpickerDay
            @disabled={{false}}
            @value={{this.duration}}
            @onChange={{fn (mut this.duration)}}
            @title="Task duration"
            data-test-magic-link-duration
            class="flex-grow"
          />
          <SyToggle
            class="margin-small-right form-control flex-shrink"
            data-test-magic-link-review
            @hint="Needs review"
            @onToggle={{toggle "review" this}}
            @value={{this.review}}
          >
            <span class="fa-layers fa-fw">
              <FaIcon @icon="user" />
              <FaIcon
                @icon="question"
                @prefix="fas"
                @transform="shrink-6 up-7 right-8"
              />
            </span>
          </SyToggle>
          <SyToggle
            class="form-control flex-shrink"
            data-test-magic-link-not-billable
            @hint="Not billable"
            @onToggle={{toggle "notBillable" this}}
            @value={{this.notBillable}}
          >
            <span class="fa-layers fa-fw">
              <FaIcon @icon="dollar-sign" @prefix="fas" />
              <FaIcon @icon="slash" @prefix="fas" />
            </span>
          </SyToggle>
        </div>
      </div>

      <div class="flex">
        <Input
          @value={{this.magicLinkString}}
          disabled={{true}}
          class="flex-grow form-control"
          aria-label="magic link string"
          data-test-magic-link-string
        />
      </div>
      {{#if this.statusMsg}}
        <div class="alert alert-success margin-medium-top">
          {{this.statusMsg}}
        </div>
      {{/if}}
      {{#if this.errorMsg}}
        <div class="alert alert-warning margin-medium-top">
          {{this.errorMsg}}
        </div>
      {{/if}}
    </modal.body>
    <modal.footer>
      <button
        class="btn btn-default margin-small-left"
        {{on "click" this.copyToClipboard}}
        disabled={{not this.magicLinkString}}
        type="button"
        data-test-create-magic-link-btn
      >
        Copy to clippy
      </button>
    </modal.footer>
  </div>
</SyModal>