<h1>Users</h1>

<div class="filter-page">
  <div class="filter-page-sidebar">
    {{#filter-sidebar on-reset=(perform resetFilter) as |fs|}}
      {{#fs.group label='General' expanded=true}}
        {{#fs.label}}
          Search
          {{fs.filter 'search'
            selected = search
            on-change = (perform setSearchFilter)
          }}
        {{/fs.label}}
        {{#if currentUser.isSuperuser}}
          {{#fs.label}}
            Supervisor
            {{#fs.filter}}
              {{#user-selection
                user      = selectedSupervisor
                on-change = (perform setModelFilter 'supervisor')
              as |u|}}
                {{u.user placeholder='Select supervisor...'}}
              {{/user-selection}}
            {{/fs.filter}}
          {{/fs.label}}
        {{/if}}
        {{#fs.label}}
          Active
          {{fs.filter 'button'
            selected  = active
            valuePath = 'value'
            labelPath = 'label'
            options   = (array
              (hash value='' label='All')
              (hash value='1' label='Only actives')
              (hash value='0' label='Only inactives')
            )
            on-change = (action (mut active))
          }}
        {{/fs.label}}
      {{/fs.group}}
    {{/filter-sidebar}}
  </div>

  <div class="filter-page-content" data-test-users-list>
    {{#async-list data as |section data|}}
      {{#if (eq section 'empty')}}
        <div class="empty">
          <div>
            {{fa-icon 'users'}}
            <h3>No users to display</h3>
            <p>Maybe try loosening your filters</p>
          </div>
        </div>
      {{else if (eq section 'body')}}
        <table class="table table--striped table--hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Percentage</th>
              <th>Worktime per day</th>
              <th>Current worktime balance</th>
            </tr>
          </thead>
          {{#vertical-collection data
            tagName           = 'tbody'
            estimateHeight    = 40
            bufferSize        = 10
            containerSelector = '.page-content--scroll'
          as |user|}}
          {{!--
          <tbody>
          {{#each data as |user|}}
          --}}
            {{#link-to 'users.edit' user.id tagName='tr' class='pointer'}}
              <td class={{unless user.isActive 'color-danger'}}>{{user.fullName}}</td>
              {{#if user.activeEmployment}}
                <td>{{user.activeEmployment.percentage}}%</td>
                <td>{{format-duration user.activeEmployment.worktimePerDay false}}</td>
              {{else}}
                <td class={{unless user.isActive 'color-danger'}} colspan="2"><em>User has no active employment</em></td>
              {{/if}}
              <td>
                <span class="worktime-balance {{balance-highlight-class user.currentWorktimeBalance.balance}}">
                  {{format-duration user.currentWorktimeBalance.balance false}}
                </span>
              </td>
            {{/link-to}}
          {{!--
          {{/each}}
          </tbody>
          --}}
          {{/vertical-collection}}
        </table>
      {{/if}}
    {{/async-list}}
  </div>
</div>