{{#if tooltipVisible.lastSuccessful.value}}
  {{#ember-tether class='progress-tooltip' target=target targetAttachment='middle left' attachment='middle right' offset='0 20px'}}
    <div class="time-info">
      <div class="time-info-durations">
        <p>Spent (Total): {{humanize-duration spent}}</p>
        <p>Spent (Billable): {{humanize-duration billable}}</p>
        <p>Budget: {{if estimated (humanize-duration estimated) 'None'}}</p>
      </div>
      <div class="time-info-percentage">
      {{#if progressTotal}}
        <div class="time-info-percentage-total">
          <span class="badge badge--{{colorTotal}}">
            {{#if (gt progressTotal 1)}}{{fa-icon 'warning'}} {{/if}}
            {{round (mult 100 progressTotal)}}%
          </span>
        </div>
      {{/if}}
      {{#if progressBillable}}
        <div class="time-info-percentage-billable">
          <span class="badge badge--{{colorBillable}}">
            {{#if (gt progressBillable 1)}}{{fa-icon 'warning'}} {{/if}}
            {{round (mult 100 progressBillable)}}%
          </span>
        </div>
      {{/if}}
      </div>
    </div>
  {{/ember-tether}}
{{/if}}
