{{#if this.tooltipVisible}}
  <EmberTether
    @class="progress-tooltip"
    @target={{@target}}
    @targetAttachment="middle left"
    @attachment="middle right"
    @offset="0 20px"
  >
    <div class="time-info">

      <span data-test-spent-total>Spent (Total):
        {{humanize-duration this.spent}}</span>
      <div class="progress-badge">
        {{#if this.progressTotal}}
          <span class="badge badge--{{this.colorTotal}}">
            {{#if (gt this.progressTotal 1)}}<FaIcon
                @icon="exclamation-triangle"
              />
            {{/if}}
            {{round (mult 100 this.progressTotal)}}%
          </span>
        {{/if}}
      </div>

      <span data-test-spent-billable>Spent (Billable):
        {{humanize-duration this.billable}}</span>
      <div class="progress-badge">
        {{#if this.progressBillable}}
          <span class="badge badge--{{this.colorBillable}}">
            {{#if (gt this.progressBillable 1)}}<FaIcon
                @icon="exclamation-triangle"
              />
            {{/if}}
            {{round (mult 100 this.progressBillable)}}%
          </span>
        {{/if}}
      </div>

      <span data-test-budget>Budget:
        {{if this.estimated (humanize-duration this.estimated) "None"}}</span>

      {{#if this.remainingEffort}}
        <span data-test-remaining-effort>{{concat
            "Remaining effort: "
            (humanize-duration this.remainingEffort)
          }}</span>
        <div class="progress-badge">
          {{#if this.progressRemainingEffort}}
            <span class="badge badge--{{this.colorRemainingEffort}}">
              {{#if (gt this.progressRemainingEffort 1)}}<FaIcon
                  @icon="exclamation-triangle"
                />
              {{/if}}
              {{round (mult 100 this.progressRemainingEffort)}}%
            </span>
          {{/if}}
        </div>
      {{/if}}

    </div>
  </EmberTether>
{{/if}}
