{{#tooltip-on-element
class               = 'progress-tooltip'
isShown             = tooltipVisible
spacing             = 20
side                = side
event               = event
enableLazyRendering = true
}}
  <div class="time-info">
    <div class="time-info-durations">
      <p>Spent: {{humanize-duration spent}}</p>
      <p>Estimate: {{if progress (humanize-duration estimated) 'None'}}</p>
    </div>
    {{#if progress}}
      <div class="time-info-percentage">
        <span class="badge badge--{{badgeColor}}">
          {{#if (gt progress 1)}}{{fa-icon 'warning'}} {{/if}}
          {{round (mult 100 progress)}}%
        </span>
      </div>
    {{/if}}
  </div>
  {{#if progress}}
    {{progress-bar progress}}
  {{/if}}
{{/tooltip-on-element}}
