{{#let (changeset @report this.ReportValidations) as |cs|}}
  <form class="form-list-row" title={{this.title}}>
    <TaskSelection
      @disabled={{not this.editable}}
      @task={{cs.task}}
      @on-set-task={{fn (mut cs.task)}}
      as |t|
    >
      <div
        class="form-list-cell form-group {{if cs.error.task 'has-error'}}"
      >{{t.customer}}</div>
      <div
        class="form-list-cell form-group {{if cs.error.task 'has-error'}}"
      >{{t.project}}</div>
      <div
        class="form-list-cell form-group {{if cs.error.task 'has-error'}}"
      >{{t.task}}</div>
    </TaskSelection>

    <div class="form-list-cell form-group">
      <label for="row-comment" hidden>Comment</label>
      <input
        type="text"
        class="form-control comment-field"
        placeholder="Comment"
        name="comment"
        id="row-comment"
        value={{cs.comment}}
        disabled={{not this.editable}}
        {{on "change" (pick "target.value" (fn (mut cs.comment)))}}
        data-test-report-comment
      />
      {{#if cs.task.project.customerVisible}}
        <CustomerVisibleIcon class="customer-visible-icon" />
      {{/if}}
    </div>
    <div class="form-list-cell form-group">
      <SyDurationpickerDay
        data-test-report-duration
        @disabled={{(not this.editable)}}
        @value={{cs.duration}}
        @onChange={{fn (mut cs.duration)}}
      />
    </div>
    <div class="form-list-cell form-group">
      <SyCheckbox
        data-test-report-review
        @disabled={{(not this.editable)}}
        @checked={{cs.review}}
        @onChange={{fn (mut cs.review)}}
        @label="Needs review"
      />
    </div>
    <div class="form-list-cell form-group">
      <SyCheckbox
        data-test-report-not-billable
        @disabled={{(not this.editable)}}
        @checked={{cs.notBillable}}
        @onChange={{fn (mut cs.notBillable)}}
        @label="Not billable"
      />
    </div>
    <div class="form-list-cell form-group">
      {{#if this.editable}}
        <button
          type="button"
          data-test-delete-report
          class="btn btn-danger"
          disabled={{this.report.verifiedBy.id}}
          {{on "click" this.delete}}
        >{{fa-icon "trash"}}</button>
        <button
          type="submit"
          data-test-save-report
          class="btn btn-primary"
          disabled={{or (not cs.isDirty) (not cs.isValid)}}
          {{on "click" (prevent-default (fn this.save cs))}}
        >{{fa-icon "save"}}</button>
      {{/if}}
    </div>
  </form>
{{/let}}
