{{#let (changeset @report this.ReportValidations) as |cs|}}
  <form ...attributes class="form-list-row" title={{this.title}}>
    <TaskSelection
      @disabled={{not this.editable}}
      @task={{cs.task}}
      @on-set-task={{queue (fn (mut cs.task)) (fn this.syncRemainingEffort cs)}}
      as |t|
    >
      <div
        class="form-list-cell form-group {{if cs.error.task 'has-error'}}"
      >{{t.customer}}</div>
      <div
        class="form-list-cell form-group {{if cs.error.task 'has-error'}}"
      >{{t.project}}</div>
      <div
        class="form-list-cell form-group {{if cs.error.task 'has-error'}}"
      >{{t.task}}</div>
    </TaskSelection>

    <div class="form-list-cell form-group">
      <label for="row-comment" hidden>Comment</label>
      <input
        type="text"
        class="form-control comment-field"
        placeholder="Comment"
        name="comment"
        id="row-comment"
        value={{cs.comment}}
        disabled={{not this.editable}}
        {{on "change" (pick "target.value" (fn (mut cs.comment)))}}
        data-test-report-comment
      />
      {{#if cs.task.project.customerVisible}}
        <CustomerVisibleIcon class="customer-visible-icon" />
      {{/if}}
    </div>
    <div class="form-list-cell form-group cell-duration">
      <SyDurationpickerDay
        data-test-report-duration
        @disabled={{(not this.editable)}}
        @value={{cs.duration}}
        @onChange={{fn (mut cs.duration)}}
        @title="Task duration"
      />
    </div>
    {{#if cs.task.project.remainingEffortTracking}}
      <div class="form-list-cell form-group cell-remaining-effort">
        <SyDurationpicker
          data-test-report-remaining-effort
          @disabled={{(not this.editable)}}
          @value={{cs.remainingEffort}}
          @onChange={{fn (mut cs.remainingEffort)}}
          @title="Remaining estimated effort"
        ><span class="fa-layers fa-fw color-secondary">
            <FaIcon @icon="clock" />
            <FaIcon @icon="plus" @transform="shrink-6 right-10 up-6" />
          </span>
        </SyDurationpicker>
      </div>

      <div
        class="form-list-cell form-list-cell-flex cell-review-billable-icons"
      >
        <SyToggle
          class="margin-small-right"
          data-test-report-review
          @disabled={{(not this.editable)}}
          @hint="Needs review"
          @icon="eye"
          @onToggle={{toggle "review" cs}}
          @value={{cs.review}}
        >
          <span class="fa-layers fa-fw">
            <FaIcon @icon="user" />
            <FaIcon @icon="question" @transform="shrink-6 up-7 right-8" />
          </span>
        </SyToggle>
        <SyToggle
          data-test-report-not-billable
          @disabled={{(not this.editable)}}
          @hint="Not billable"
          @icon="dollar"
          @onToggle={{toggle "notBillable" cs}}
          @value={{cs.notBillable}}
        >
          <span class="fa-layers fa-fw">
            <FaIcon @icon="dollar" />
            <FaIcon @icon="slash" />
          </span>
        </SyToggle>
      </div>
    {{else}}
      <div class="form-list-cell form-group cell-review">
        <SyCheckbox
          data-test-report-review
          @disabled={{(not this.editable)}}
          @checked={{cs.review}}
          @onChange={{fn (mut cs.review)}}
          @label="Needs review"
        />
      </div>
      <div class="form-list-cell form-group cell-not-billable">
        <SyCheckbox
          data-test-report-not-billable
          @disabled={{(not this.editable)}}
          @checked={{cs.notBillable}}
          @onChange={{fn (mut cs.notBillable)}}
          @label="Not billable"
        />
      </div>
    {{/if}}

    <div class="form-list-cell form-group cell-buttons">
      {{#if this.editable}}
        <button
          type="button"
          data-test-delete-report
          class="btn btn-danger"
          disabled={{this.report.verifiedBy.id}}
          {{on "click" (fn (optional @onDelete) @report)}}
        ><FaIcon @icon="trash-can" /></button>
        <button
          type="submit"
          data-test-save-report
          class="btn btn-primary"
          disabled={{or (not cs.isDirty) (not cs.isValid)}}
          {{on "click" (prevent-default (fn (optional @onSave) cs))}}
        ><FaIcon @icon="save" /></button>
      {{/if}}
    </div>
  </form>
{{/let}}
