<div class="record-button-container record-button-container--extend">
  <button data-test-record-start type="button" class="record-button" {{action 'startOrPause'}}></button>
  <div class="record-button-timer">
    {{#if recording}}
      {{since activity.activeBlock.from activity.duration}}
    {{else}}
      {{format-duration activity.duration}}
    {{/if}}
  </div>
</div>
{{#if (or recording paused)}}
  <div class="record-button-container">
    <button data-test-record-stop type="button" class="record-button record-button--stop" {{action 'stop'}}></button>
  </div>
{{/if}}
