{{yield}}
<tr>
  <td colspan="42">
    {{#if (gt pages 1)}}
      {{pagination-pager current=page count=pages}}
    {{/if}}
    <div class="limit pull-right">
      Per page:
      {{#each limits as |l i|}}
        <span>
          {{#if (eq page_size l)}}
            {{l}}
          {{else}}
            <a href="#" {{action 'setLimit' l}}>{{l}}</a>
          {{/if}}
        </span>
      {{/each}}
    </div>
  </td>
</tr>
{{yield to='inverse'}}
