{{one-way-select (hash value=year)
  options         = years.lastSuccessful.value
  optionValuePath = 'value'
  optionLabelPath = 'label'
  class           = 'form-control year-select'
  update          = (action (mut year) value='value')
}}

<div class="grid grid--12of12 grid-md--6of12">
  <div class="grid-cell">
    <h4>Absence credits</h4>
    <div class="card">
      <div class="card-block">
        {{#if overtimeCredits.isRunning}}
          <div class="empty">
            {{loading-icon}}
          </div>
        {{else}}
          {{#with absenceCredits.lastSuccessful.value as |absenceCredits|}}
            <table class="table table--striped">
              <thead>
                <tr>
                  <th>Valid as of</th>
                  <th>Days</th>
                  <th>Type</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {{#each absenceCredits as |absenceCredit|}}
                  <tr>
                    <td>{{moment-format absenceCredit.date 'DD.MM.YYYY'}}</td>
                    <td>{{absenceCredit.days}}</td>
                    <td>{{absenceCredit.absenceType.name}}</td>
                    <td>{{absenceCredit.comment}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{^}}
            <div class="text-center"><em>No absence credits to show</em></div>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="grid-cell">
    <h4 class="form-inline">
      Overtime credits
    </h4>
    <div class="card">
      <div class="card-block">
        {{#if overtimeCredits.isRunning}}
          <div class="empty">
            {{loading-icon}}
          </div>
        {{else}}
          {{#with overtimeCredits.lastSuccessful.value as |overtimeCredits|}}
            <table class="table table--striped">
              <thead>
                <tr>
                  <th>Valid as of</th>
                  <th>Duration</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                {{#each overtimeCredits as |overtimeCredit|}}
                  <tr>
                    <td>{{moment-format overtimeCredit.date 'DD.MM.YYYY'}}</td>
                    <td>{{humanize-duration overtimeCredit.duration false}}</td>
                    <td>{{overtimeCredit.comment}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{^}}
            <div class="text-center"><em>No overtime credits to show</em></div>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>
</div>