<h1>Reschedule</h1>

{{report-filter
  billingTypes  = billingTypes
  initial       = (hash
    customer    = _customer
    project     = _project
    task        = _task
    user        = _user
    reviewer    = _reviewer
    billingType = billing_type
    costCenter  = cost_center
    fromDate    = _from
    toDate      = _to
    review      = review
    notBillable = not_billable
    notVerified = not_verified
  )
  on-apply      = (action 'applyFilter')
}}

{{#if model.length}}
  <div class="form-list form-list--reschedule" data-test-filter-results>
    <div class="form-list-head">
      <div class="form-list-row">
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='user__username'}}User{{/sort-header}}
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='date'}}Date{{/sort-header}}
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='duration'}}Duration{{/sort-header}}
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='task__project__customer__name'}}Customer{{/sort-header}}
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='task__project__name'}}Project{{/sort-header}}
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='task__name'}}Task{{/sort-header}}
        {{#sort-header tagName='div' class='form-list-cell' update=(action (mut ordering)) current=ordering by='comment'}}Comment{{/sort-header}}
        <div class="form-list-cell">Needs review</div>
        <div class="form-list-cell">Not billable</div>
        <div class="form-list-cell">Verified</div>
        <div class="form-list-cell">
          {{#if model.length}}
            <button type="button" data-test-verify-page class="btn btn-success" title="Verify page" {{action 'verifyPage'}}>{{fa-icon 'check'}}</button>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="form-list-body">
      {{#each model as |report|}}
        {{report-reschedule-row report
          data-test-reschedule-report
          data-test-reschedule-report-id = report.id
          verifyUser                     = currentUser
          on-save                        = (route-action 'saveReport')
        }}
      {{/each}}
    </div>
    <div class="form-list-foot">
      <div class="form-list-row">
        <div class="form-list-cell"><strong>Total:</strong></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"><strong class="total">{{format-duration model.meta.totalTime false}}</strong></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
        <div class="form-list-cell"></div>
      </div>
    </div>
    <div class="form-list-caption">
      {{#if (gt model.meta.pagination.pages 1)}}
        {{pagination-pager current=page count=model.meta.pagination.pages class='pagination-nav'}}
      {{/if}}
      {{pagination-limit page=page page_size=page_size}}
    </div>
  </div>
{{else}}
  <div class="text-center">
    <em>
      {{#if (is-array model)}}
        I didn't find any results - try loosening your filters!
      {{else}}
        Please specify some filter parameters.
      {{/if}}
    </em>
  </div>
{{/if}}