{{#vertical-collection options estimateHeight=30 bufferSize=5 as |opt index|}}
  <li class="ember-power-select-option"
      aria-selected="{{ember-power-select-is-selected opt select.selected}}"
      aria-disabled={{if opt.disabled 'true'}}
      aria-current="{{eq opt select.highlighted}}"
      data-option-index="{{groupIndex}}{{index}}"
      role="option">
    {{#if extra.optionTemplate}}
      {{component 'power-select/option'
        layout  = extra.optionTemplate
        option  = opt
        current = (eq opt select.highlighted)
      }}
    {{else}}
      {{yield opt select}}
    {{/if}}
  </li>
{{/vertical-collection}}