{{#if this.select.selected}}
  {{#if this.selectedItemComponent}}
    {{component this.selectedItemComponent option=(readonly this.select.selected) select=(readonly this.select)}}
  {{else}}
    <span class="ember-power-select-selected-item">
      {{#if this.extra.selectedTemplate}}
        {{component 'power-select/selected' layout=this.extra.selectedTemplate selected=this.select.selected}}
      {{else}}
        {{yield this.select.selected this.select}}
      {{/if}}
    </span>
  {{/if}}
  {{#if (and this.allowClear (not this.select.disabled))}}
    <span class="ember-power-select-clear-btn" onmousedown={{action "clear"}} ontouchstart={{action "clear"}}>&times;</span>
  {{/if}}
{{else}}
  {{component this.placeholderComponent placeholder=this.placeholder}}
{{/if}}
<span class="ember-power-select-status-icon"></span>
