{{#if activities}}
  <table class="table table--striped">
    <tbody>
      {{#each activities as |activity|}}
      <tr
        data-test-activity-row
        data-test-activity-row-id={{activity.id}}
        title="Double click to start the activity"
        class="pointer {{unless activity.task 'warning'}} {{if activity.active 'primary'}}"
        {{action 'startActivity' activity on='doubleClick'}}
      >
          <td>
            {{#if activity.task}}
              <strong>{{activity.task.project.name}}</strong> ({{activity.task.project.customer.name}})
              <br>
              <small><em>{{activity.task.name}}</em></small>
            {{else}}
            <strong>Unknown task</strong>
            {{/if}}
          </td>
          <td>{{activity.comment}}</td>
          <td>
            {{#if activity.active}}
              {{since activity.activeBlock.from activity.duration}}
            {{else}}
              {{format-duration activity.duration}}
            {{/if}}
          </td>
          <td class="text-right visible-sm">
            {{fa-btn
              'pencil'
              data-test-edit-activity
              title = 'Edit activity'
              click = (queue (action (mut activityToEdit) activity) (action (mut modalVisible) true))
            }}
            {{#if activity.active}}
              {{fa-btn
                'stop'
                data-test-stop-activity
                title = 'Stop activity'
                click = (route-action 'stopActivity' activity)
              }}
            {{else}}
              {{fa-btn
                'play'
                data-test-start-activity
                title = 'Start activity'
                click = (route-action 'startActivity' activity)
              }}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="text-center">
    <br>
    <button
      class="btn btn-primary"
      title="Generate reports for all the listed activities above"
      {{action 'generateReports'}}
    >
       Generate reports
    </button>
  </div>
{{else}}
  <div class="text-center"><em>No activities yet</em></div>
{{/if}}

{{#if activityToEdit}}
  {{edit-activity-modal
    visible   = showActivityEditModal
    model     = activityToEdit
    customers = customers
    projects  = projects
    tasks     = tasks
    on-close  = (action (mut activityToEdit) null)
    on-delete = (route-action 'deleteActivity')
    on-save   = (route-action 'saveActivity')
  }}
{{/if}}
