<div class="btn-toolbar btn-toolbar--right form-group">
  <button type="button" class="btn btn-success" title="Generate timesheet for all the activities listed above" {{action 'generateReportsCheck'}}>Generate timesheet</button>
</div>
<div class="activities">
  <div class="activities-edit">{{outlet}}</div>
  <div class="activities-list">
    {{#if activities}}
      <table class="table table--striped table--activities">
        <tbody>
          {{#each sortedActivities as |activity|}}
          <tr
             title={{unless activity.transferred "Click to edit"}}
            data-test-activity-row
            data-test-activity-row-id={{activity.id}}
            class="{{if activity.transferred 'transferred' 'pointer'}} {{if activity.active 'primary'}}"
            {{action 'editActivity' activity}}
          >
              <td>
                {{moment-format activity.fromTime 'HH:mm'}}
                -
                {{#unless activity.active}}
                  {{moment-format activity.toTime 'HH:mm'}}
                {{/unless}}
              </td>
              <td title='{{activity.task.project.customer.name}} > {{activity.task.project.name}} > {{activity.task.name}}'>
                {{#if activity.task}}
                  <div>
                    {{activity.task.project.customer.name}} <strong>&gt;</strong>
                    {{activity.task.project.name}} <strong>&gt;</strong>
                    {{activity.task.name}}
                  </div>
                {{else}}
                  <strong>Unknown task</strong>
                {{/if}}
              </td>
              <td title={{activity.comment}}><div>{{activity.comment}}</div></td>
              <td>
                <div>{{sy-checkmark checked=activity.review}} Needs review</div>
                <div>{{sy-checkmark checked=activtiy.notBillable}} Not billable</div>
              </td>
              <td>
                {{#if activity.active}}
                  {{duration-since activity.fromTime}}
                {{else}}
                  {{format-duration activity.duration}}
                {{/if}}
              </td>
              <td>
                {{#if activity.active}}
                  <button
                    type="button"
                    data-test-stop-activity
                    class="btn btn-danger"
                    {{action 'stopActivity' activity bubbles=false}}
                  >
                    {{fa-icon 'stop'}}
                  </button>
                {{else}}
                  <button
                    type="button"
                    data-test-start-activity
                    class="btn btn-success"
                    {{action 'startActivity' activity bubbles=false}}
                  >
                    {{fa-icon 'play'}}
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="text-center"><em>No activities yet</em></div>
    {{/if}}
  </div>
</div>

{{#sy-modal visible=showOverlappingWarning as |modal|}}
  {{#modal.header}}
    Activities overlap
  {{/modal.header}}
  {{#modal.body}}
    Overlapping activities will not be taken into account for the timesheet.
  {{/modal.body}}
  {{#modal.footer data-test-overlapping-warning}}
   <button class="btn btn-primary" {{action (if showUnknownWarning (action (mut showOverlappingWarning) false) 'generateReports')}}>That's fine</button>
   <button class="btn btn-default" {{action (queue (action (mut showOverlappingWarning) false) (action (mut showUnknownWarning) false))}}>Cancel</button>
  {{/modal.footer}}
{{/sy-modal}}

{{#sy-modal visible=showUnknownWarning as |modal|}}
  {{#modal.header}}
    Activities contain unknown tasks
  {{/modal.header}}
  {{#modal.body}}
    Unknown tasks will not be taken into account for the timesheet.
  {{/modal.body}}
  {{#modal.footer data-test-unknown-warning}}
   <button class="btn btn-primary" {{action (if showOverlappingWarning (action (mut showUnknownWarning) false) 'generateReports')}}>That's fine</button>
   <button class="btn btn-default" {{action (queue (action (mut showUnknownWarning) false) (action (mut showOverlappingWarning) false))}}>Cancel</button>
  {{/modal.footer}}
{{/sy-modal}}
