{{#with (changeset report validator) as |changeset|}}
  {{#sy-modal visible=visible as |modal|}}
    {{#modal.header close=(action 'close' changeset)}}
      {{if changeset.isNew 'New' 'Edit'}} absence
    {{/modal.header}}
    {{#modal.body}}
      <div data-test-absence-type class="form-group {{if changeset.error.absenceType 'has-error'}}">
          <label>Type <span class="required">*</span></label>
        {{#power-select
          renderInPlace = true
          allowClear    = true
          options       = absenceTypes
          selected      = changeset.absenceType
          searchField   = 'name'
          onchange      = (action (mut changeset.absenceType))
          placeholder   = 'Select absence type...'
          as |absenceType|}}
          {{absenceType.name}}
        {{/power-select}}
        {{#if changeset.error.absenceType}}
          <p class="error-text">
            {{#each changeset.error.absenceType.validation as |message index|}}
              {{if (gt index 0) ', '}}{{message}}
            {{/each}}
          </p>
        {{/if}}
      </div>
      <div data-test-absence-duration class="form-group {{if changeset.error.duration 'has-error'}}">
        <label>Duration <span class="required">*</span></label>
        {{sy-durationpicker
          value     = changeset.duration
          on-change = (action (mut changeset.duration))
        }}
        {{#if changeset.error.duration}}
          <p class="error-text">
            {{#each changeset.error.duration.validation as |message index|}}
              {{if (gt index 0) ', '}}{{message}}
            {{/each}}
          </p>
        {{/if}}
      </div>
      <div data-test-absence-comment class="form-group">
        <label>Comment</label>
        {{textarea
          placeholder = 'Enter comment...'
          rows        = 4
          class       = 'form-control'
          value       = changeset.comment
        }}
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      <button
        class="btn btn-primary"
        title="Delete this absence"
        disabled="{{unless changeset.isValid 'disabled'}}"
        {{action 'save' changeset}}
      >
        Save
      </button>
      {{#unless changeset.isNew}}
        <button title="Delete this absence" class="btn btn-danger" {{action 'delete'}}>Delete</button>
      {{/unless}}
    {{/modal.footer}}
  {{/sy-modal}}
{{/with}}
