{{#with (changeset model validator) as |changeset|}}
  {{#sy-modal visible=visible as |modal|}}
    {{#modal.header close=(action 'close' changeset)}}
      {{if changeset.isNew 'New' 'Edit'}} absence
    {{/modal.header}}
    {{#modal.body}}
      <div data-test-absence-type class="form-group {{if changeset.error.type 'has-error'}}">
        <div class="btn-group btn-group--auto">
          {{#each absenceTypes as |t|}}
            <button
              class="btn btn-default {{if (eq t.id changeset.type.id) 'active'}}"
              {{action (mut changeset.type) t}}
              >
              {{t.name}}
            </button>
          {{/each}}
        </div>
        {{#if changeset.error.type}}
          <p class="error-text">
            {{#each changeset.error.type.validation as |message index|}}
              {{if (gt index 0) ', '}}{{message}}
            {{/each}}
          </p>
        {{/if}}
      </div>
      <div data-test-absence-comment class="form-group">
        <label>Comment</label>
        {{textarea
          placeholder = 'Enter comment...'
          rows        = 4
          class       = 'form-control'
          value       = changeset.comment
        }}
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      {{#unless changeset.isNew}}
        <button title="Delete this absence" class="btn btn-danger" {{action 'delete' changeset}}>Delete</button>
      {{/unless}}
      <button
        class="btn btn-primary"
        title="Save this absence"
        disabled="{{unless changeset.isValid 'disabled'}}"
        {{action 'save' changeset}}
      >
        Save
      </button>
    {{/modal.footer}}
  {{/sy-modal}}
{{/with}}
