{{#with (changeset model validator) as |changeset|}}
  {{#sy-modal visible=visible as |modal|}}
    {{#modal.header close=(action 'close' changeset)}}
      {{if changeset.isNew 'New' 'Edit'}} absence
    {{/modal.header}}
    {{#modal.body}}
      <div data-test-absence-date class="form-group">
        {{sy-datepicker value=changeset.date}}
      </div>
      <div data-test-absence-type class="form-group {{if changeset.error.type 'has-error'}}">
          <label>Type <span class="required">*</span></label>
        {{#power-select
          renderInPlace = true
          options       = absenceTypes
          selected      = changeset.type
          searchField   = 'name'
          onchange      = (action (mut changeset.type))
          placeholder   = 'Select absence type...'
          as |type|}}
          {{type.name}}
        {{/power-select}}
        {{#if changeset.error.type}}
          <p class="error-text">
            {{#each changeset.error.type.validation as |message index|}}
              {{if (gt index 0) ', '}}{{message}}
            {{/each}}
          </p>
        {{/if}}
      </div>
      <div data-test-absence-comment class="form-group">
        <label>Comment</label>
        {{textarea
          placeholder = 'Enter comment...'
          rows        = 4
          class       = 'form-control'
          value       = changeset.comment
        }}
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      <button
        class="btn btn-primary"
        title="Save this absence"
        disabled="{{unless changeset.isValid 'disabled'}}"
        {{action 'save' changeset}}
      >
        Save
      </button>
      {{#unless changeset.isNew}}
        <button title="Delete this absence" class="btn btn-danger" {{action 'delete' changeset}}>Delete</button>
      {{/unless}}
    {{/modal.footer}}
  {{/sy-modal}}
{{/with}}
