<div
  title="{{@option.name}}{{if @option.archived ' (archived)'}}"
  class="{{if @option.archived 'inactive'}}"
  id="task-option-{{@option.id}}"
>
  {{#if (and @current (or (media "isMd") (media "isLg") (media "isXl")))}}
    <ProgressTooltip
      @target={{concat "#task-option-" @option.id}}
      @visible={{@current}}
      @model={{@option}}
    />
  {{/if}}
  {{@option.name}}
  {{#if @option.archived}}
    <i class="fa fa-archive"></i>
  {{/if}}
</div>
