<div
  ...attributes
  class="sy-toggle {{if @value 'active' 'inactive'}}"
  title={{concat @hint (if @disabled " (disabled)")}}
  tabindex="0"
  role="link"
  {{on "click" (optional (unless @disabled @onToggle))}}
  {{on "keyup" this.handleKeyUp}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <FaIcon @icon={{@icon}} @fixedWidth={{true}} @size={{or @size "1x"}} />
  {{/if}}
</div>
