{{#if (can 'read user' this.model)}}
  <header class="user-header">
    <div class="user-header-info">
      <h1>{{this.model.fullName}}</h1>
    </div>

    {{#if this.data.isRunning}}
      <div class="user-header-loading">
        <LoadingIcon />
      </div>
    {{else}}
      {{#unless this.model.activeEmployment.isExternal}}
        <div class="user-header-worktime-balance-container">
          <h2 class="user-header-worktime-balance-title">Worktime balance</h2>

          <div class="user-header-worktime-balance-last-valid-timesheet">
            {{#let this.data.lastSuccessful.value.worktimeBalanceLastValidTimesheet as |balance|}}
              <h2 title="Last day with timesheet entries or absences">
                {{moment-format balance.date 'DD.MM.YYYY'}}
              </h2>
              <div class="{{balance-highlight-class balance.balance}}">
                {{format-duration balance.balance false}}
              </div>
            {{/let}}
          </div>

          <div class="user-header-worktime-balance">
            <WorktimeBalanceChart @worktimeBalances={{this.data.lastSuccessful.value.worktimeBalances}} />
          </div>

          <div class="user-header-worktime-balance-today">
            {{#let this.data.lastSuccessful.value.worktimeBalanceToday as |balance|}}
              <h2>Today</h2>
              <div class="{{balance-highlight-class balance.balance}}">
                {{format-duration balance.balance false}}
              </div>
            {{/let}}
          </div>
        </div>

        <div class="user-header-absence-balance-container">
          {{#let this.data.lastSuccessful.value.absenceBalances as |balances|}}
            {{#each balances as |balance index|}}
              <BalanceDonut
                @balance={{balance}}
                @class='user-header-absence-balance'
                @title={{balance.absenceType.name}}
                @index={{index}}
                @count={{balances.length}}
              />
            {{/each}}
          {{/let}}
        </div>
      {{/unless}}
    {{/if}}
  </header>

  <nav class="user-navigation">
    <ul>
      <li><LinkTo @route="users.edit.index" @model={{this.model.id}}>General</LinkTo></li>
      <li><LinkTo @route="users.edit.credits" @model={{this.model.id}}>Credits</LinkTo></li>
      <li><LinkTo @route="users.edit.responsibilities" @model={{this.model.id}}>Responsibilities</LinkTo></li>
    </ul>
  </nav>

  <section class="user-content">
    {{outlet}}
  </section>
{{else}}
  <NoPermission />
{{/if}}
