<header class="user-header">
  <div class="user-header-info">
    <h1>{{model.fullName}}</h1>
  </div>

  {{#if data.isRunning}}
    <div class="user-header-loading">
      {{loading-icon}}
    </div>
  {{else}}
    <div class="user-header-worktime-balance-container">
      <h2 class="user-header-worktime-balance-title">Worktime balance</h2>

      <div class="user-header-worktime-balance-last-valid-timesheet">
        {{#with data.lastSuccessful.value.worktimeBalanceLastValidTimesheet as |balance|}}
          <h2 title="Last day with timesheet entries or absences">
            {{moment-format balance.date 'DD.MM.YYYY'}}
          </h2>
          <div class="{{balance-highlight-class balance.balance}}">
            {{format-duration balance.balance false}}
          </div>
        {{/with}}
      </div>

      <div class="user-header-worktime-balance">
        {{worktime-balance-chart worktimeBalances=data.lastSuccessful.value.worktimeBalances}}
      </div>

      <div class="user-header-worktime-balance-today">
        {{#with data.lastSuccessful.value.worktimeBalanceToday as |balance|}}
          <h2>Today</h2>
          <div class="{{balance-highlight-class balance.balance}}">
            {{format-duration balance.balance false}}
          </div>
        {{/with}}
      </div>
    </div>

    <div class="user-header-absence-balance-container">
      {{#with data.lastSuccessful.value.absenceBalances as |balances|}}
        {{#each balances as |balance index|}}
          {{balance-donut balance
            class = 'user-header-absence-balance'
            title = balance.absenceType.name
            index = index
            count = balances.length
          }}
        {{/each}}
      {{/with}}
    </div>
  {{/if}}
</header>

<nav class="user-navigation">
  <ul>
    <li>{{#link-to 'users.edit.index' model.id}}General{{/link-to}}</li>
  </ul>
</nav>

<section class="user-content">
  {{outlet}}
</section>