<main class="page-main">
  {{#if this.loading}}<span class="loader"></span>{{/if}}
  <div class="page-content page-content--scroll">
    <SyTopnav @onLogout={{this.invalidateSession}} />

    {{outlet}}
  </div>
</main>

<WelcomeModal
  @visible={{this.visible}}
  @onNever={{this.neverTour}}
  @onLater={{this.laterTour}}
  @onStart={{this.startTour}}
/>
