{{#if data.isRunning}}
  <div class="empty">
    {{loading-icon}}
  </div>
{{else if data.last.isError}}
  <div class="empty">
    <div>
      {{fa-icon 'bolt'}}
      <h3>Oops something went wrong</h3>
      <p>Have you tried turning it off and on again?</p>
    </div>
  </div>
{{else if missingParams}}
  <div class="empty">
    <div>
      {{fa-icon 'search'}}
      <h3>Missing filter parameters</h3>
      <p>{{missingParamsMessage}}</p>
    </div>
  </div>
{{else if (not data.last.value)}}
  <div class="empty">
    <div>
      {{fa-icon 'bar-chart'}}
      <h3>No statistics to display</h3>
      <p>Maybe try loosening your filters</p>
    </div>
  </div>
{{else}}
  <table class="table table-striped table--statistics">
    <thead>
      <tr>
        {{#each columns as |column|}}
          {{#if column.ordering}}
            {{#sort-header
              current = ordering
              update  = (action on-ordering-change)
              by      = column.ordering
            }}
              {{column.title}}
            {{/sort-header}}
          {{else}}
            <th>{{column.title}}</th>
          {{/if}}
        {{/each}}
        <th></th>
      </tr>
    </thead>
    {{#vertical-collection
      data.last.value
      tagName           = 'tbody'
      estimateHeight    = 40
      bufferSize        = 10
      containerSelector = '.page-content--scroll'
    as |row|}}
      <tr>
        {{#each columns as |column|}}
          {{statistic-list/column
            layout = column.layout
            value  = (get row column.path)
          }}
        {{/each}}
        <td>
          {{statistic-list/bar (div row.duration maxDuration)}}
        </td>
      </tr>
    {{/vertical-collection}}
    <tfoot>
      <tr>
        {{#each columns as |column index|}}
          <td>
            <strong>
              {{#if (not index)}}
                Total:
              {{else if (eq column.title 'Duration')}}
                <span class="total">{{humanize-duration total false}}</span>
              {{/if}}
            </strong>
          </td>
        {{/each}}
        <td></td>
      </tr>
    </tfoot>
  </table>
{{/if}}