<div ...attributes>
  {{#if @data.isRunning}}
    <div class="empty">
      <LoadingIcon />
    </div>
  {{else if @data.last.isError}}
    <div class="empty">
      <div>
        <FaIcon @icon="bolt" @prefix="fas" />
        <h3>Oops... Something went wrong</h3>
        <p>
          Have you tried turning it off and on again?
          <br />
          Please try refreshing the page.
        </p>
      </div>
    </div>
  {{else if @missingParams}}
    <div class="empty">
      <div>
        <FaIcon @icon="magnifying-glass" @prefix="fas" />
        <h3>Missing filter parameters</h3>
        <p>{{this.missingParamsMessage}}</p>
      </div>
    </div>
  {{else if (not @data.last.value)}}
    <div class="empty">
      <div>
        <FaIcon @icon="chart-bar" />
        <h3>No statistics to display</h3>
        <p>Maybe try loosening your filters</p>
      </div>
    </div>
  {{else}}
    <table class="table table-striped table--statistics">
      <thead>
        <tr>
          {{#each this.columns as |column|}}
            {{#if column.ordering}}
              <SortHeader
                @current={{@ordering}}
                @update={{@onOrderingChange}}
                @by={{column.ordering}}
              >
                {{column.title}}
              </SortHeader>
            {{else}}
              <th>{{column.title}}</th>
            {{/if}}
          {{/each}}
          <th></th>
        </tr>
      </thead>
      <VerticalCollection
        @items={{@data.last.value}}
        @tagName="tbody"
        @estimateHeight={{40}}
        @bufferSize={{10}}
        @containerSelector=".page-content--scroll"
        as |row|
      >
        <tr data-test-statistic-list-row>
          {{#each this.columns as |column|}}
            <StatisticList::Column
              data-test-statistic-list-column
              @layout={{column.layout}}
              @value={{(get row column.path)}}
            />
          {{/each}}
          <td>
            {{#let
              (add row.duration row.mostRecentRemainingEffort)
              as |allotted|
            }}
              <StatisticList::Bar
                @value={{(div row.duration this.maxDuration)}}
                @remaining={{(div allotted this.maxDuration)}}
                @goal={{(min "0.99" (div row.estimatedTime this.maxDuration))}}
              />
            {{/let}}
          </td>
        </tr>
      </VerticalCollection>
      <tfoot>
        <tr>
          {{#each this.columns as |column index|}}
            <td>
              <strong>
                {{#if (not index)}}
                  Total:
                {{else if (eq column.title "Duration")}}
                  <span class="total">{{humanize-duration
                      this.total
                      false
                    }}</span>
                {{/if}}
              </strong>
            </td>
          {{/each}}
          <td></td>
        </tr>
      </tfoot>
    </table>
  {{/if}}
</div>
