<div class="btn-toolbar btn-toolbar--right form-group">
  <button type="button" class="btn btn-success" title="Move all entries to another date" {{action (mut showReschedule) true}}>Reschedule</button>
</div>

<div class="form-list form-list--reports">
  <div class="form-list-body">
    {{#each reports as |report|}}
      {{report-row
        report
        data-test-report-row
        data-test-report-row-id = report.id
        on-save                 = (route-action 'saveReport')
        on-delete               = (route-action 'deleteReport')
      }}
    {{/each}}
  </div>
</div>

{{#sy-modal visible=showReschedule size="small" as |modal|}}
  {{#modal.header}}
    Reschedule timesheet
  {{/modal.header}}
  {{#modal.body}}
    {{#power-calendar
      class = 'calendar'
      center = center
      selected = rescheduleDate
      onCenterChange = (action (mut center) value='moment')
      onSelect       = (action (mut rescheduleDate) value='moment')
      as |calendar|
      }}
      <div class={{if calendar.loading 'loading-mask'}}>
        {{calendar.nav}}
        {{calendar.days disabledDates=disabledDates startOfWeek=1}}
      </div>
    {{/power-calendar}}
  {{/modal.body}}
  {{#modal.footer}}
    <button type="submit" class="btn btn-primary" {{action 'reschedule' rescheduleDate}} data-test-reschedule>Save</button>
  {{/modal.footer}}
{{/sy-modal}}
