<div class="btn-toolbar btn-toolbar--right form-group">
  <button class="btn btn-success" title="Move all entries to another date" {{action (mut showReschedule) true}}>reschedule</button>
</div>
<table class="table table--striped table--reports">
  <tbody>
    {{#each reports as |report|}}
      {{report-row
        report
        data-test-report-row
        data-test-report-row-id = report.id
        on-save                 = (route-action 'saveReport')
        on-delete               = (route-action 'deleteReport')
      }}
    {{^}}
      <tr>
        <td colspan="8" class="text-center">
          <em>No entries yet</em>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#sy-modal visible=showReschedule size="small" as |modal|}}
  {{#modal.header}}
    Reschedule timesheet
  {{/modal.header}}
  {{#modal.body}}
    {{#power-calendar
      class = 'calendar'
      center = center
      selected = rescheduleDate
      onCenterChange = (action (mut center) value='moment')
      onSelect       = (action (mut rescheduleDate) value='moment')
      as |calendar|
      }}
      <div class={{if calendar.loading 'loading-mask'}}>
        {{calendar.nav}}
        {{calendar.days disabledDates=disabledDates startOfWeek=1}}
      </div>
    {{/power-calendar}}
  {{/modal.body}}
  {{#modal.footer}}
    <button class="btn btn-primary" {{action 'reschedule' rescheduleDate}}>save</button>
  {{/modal.footer}}
{{/sy-modal}}
