<div class="btn-toolbar btn-toolbar--right form-group">
  <button title="Add a new report" class="btn btn-success" {{action 'addReport'}}>Add report</button>
  <button title="Add a new absence" class="btn btn-success" {{action 'addAbsence'}}>Add absence</button>
</div>

{{#if reports}}
  <table class="table table--striped">
    <tbody>
      {{#each reports as |report|}}
        <tr
         data-test-report-row
         data-test-report-row-id={{report.id}}
         onclick={{action 'editReport' report}}
         title="Click to edit report"
         class="pointer {{if report.absenceType 'is-absence'}}"
        >
          <td>
            {{#if report.absenceType}}
              <strong>{{report.absenceType.name}}</strong>
              <br>
              <small>&nbsp;</small>
            {{else if report.task}}
              <strong>{{report.task.project.name}}</strong> ({{report.task.project.customer.name}})
              <br>
              <small><em>{{report.task.name}}</em></small>
            {{/if}}
          </td>
          <td>{{report.comment}}</td>
          <td>{{format-duration report.duration false}}</td>
          <td>
            {{#unless report.absenceType}}
              {{fa-icon (concat (if report.notBillable 'check-') 'square-o') fixedWidth=true}} Not billable
              <br>
              {{fa-icon (concat (if report.review 'check-') 'square-o') fixedWidth=true}} Needs review
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="text-center"><em>No reports yet</em></div>
{{/if}}

{{#if reportToEdit}}
  {{#if reportToEditIsAbsence}}
    {{edit-absence-modal
      visible      = modalVisible
      report       = reportToEdit
      absenceTypes = absenceTypes
      on-close     = (action (mut reportToEdit) null)
      on-save      = (route-action 'saveReport')
      on-delete    = (route-action 'deleteReport')
    }}
  {{else}}
    {{edit-report-modal
      visible   = modalVisible
      report    = reportToEdit
      customers = customers
      projects  = projects
      tasks     = tasks
      on-close  = (action (mut reportToEdit) null)
      on-save   = (route-action 'saveReport')
      on-delete = (route-action 'deleteReport')
    }}
  {{/if}}
{{/if}}
