<div class="btn-toolbar btn-toolbar--right form-group">
  <button type="button" class="btn btn-success" title="Move all entries to another date" {{action (mut showReschedule) true}}>Reschedule</button>
</div>

<div class="form-list form-list--reports">
  <div class="form-list-body">
    {{#each reports as |report|}}
      {{#if report.verifiedBy}}
        <div class="form-list-row" title="This entry is already verified and therefore not editable anymore">
          <div class="form-list-cell">{{report.task.project.customer.name}}</div>
          <div class="form-list-cell">{{report.task.project.name}}</div>
          <div class="form-list-cell">{{report.task.name}}</div>
          <div class="form-list-cell">{{report.comment}}</div>
          <div class="form-list-cell">{{format-duration report.duration false}}</div>
          <div class="form-list-cell">{{sy-checkbox disabled=true value=report.review label='Needs review'}}</div>
          <div class="form-list-cell">{{sy-checkbox disabled=true value=report.notBillable label='Not billable'}}</div>
          <div class="form-list-cell"></div>
        </div>
      {{else}}
        {{report-row
          report
          data-test-report-row
          data-test-report-row-id = report.id
          on-save                 = (route-action 'saveReport')
          on-delete               = (route-action 'deleteReport')
        }}
      {{/if}}
    {{/each}}
  </div>
</div>

{{#sy-modal visible=showReschedule size="small" as |modal|}}
  {{#modal.header}}
    Reschedule timesheet
  {{/modal.header}}
  {{#modal.body}}
    {{#power-calendar
      class = 'calendar'
      center = center
      selected = rescheduleDate
      onCenterChange = (action (mut center) value='moment')
      onSelect       = (action (mut rescheduleDate) value='moment')
      as |calendar|
      }}
      <div class={{if calendar.loading 'loading-mask'}}>
        {{calendar.nav}}
        {{calendar.days disabledDates=disabledDates startOfWeek=1}}
      </div>
    {{/power-calendar}}
  {{/modal.body}}
  {{#modal.footer}}
    <button type="submit" class="btn btn-primary" {{action 'reschedule' rescheduleDate}}>Save</button>
  {{/modal.footer}}
{{/sy-modal}}
