<div class="btn-toolbar btn-toolbar--right form-group">
  <button
    type="button"
    class="btn btn-success"
    title="Move all entries to another date"
    data-test-report-reschedule
    {{on "click" (fn (mut this.showReschedule) true)}}
  >Reschedule</button>
</div>

<div class="form-list form-list--reports">
  <div class="form-list-body">
    {{#each this.reports as |report|}}
      <ReportRow
        @report={{report}}
        @onSave={{this.saveReport}}
        @onDelete={{this.deleteReport}}
        data-test-report-row-id={{report.id}}
        data-test-report-row
      />
    {{/each}}
  </div>
</div>

<SyModal
  @visible={{this.showReschedule}}
  @onClose={{toggle "showReschedule" this}}
  @size="small"
  as |modal|
>
  <modal.header>
    Reschedule timesheet
  </modal.header>
  <modal.body>
    <PowerCalendar
      class="calendar"
      @center={{this.center}}
      @selected={{this.rescheduleDate}}
      @onCenterChange={{(pick "moment" (fn (mut this.center)))}}
      @onSelect={{(pick "moment" (fn (mut this.rescheduleDate)))}}
      as |calendar|
    >
      <div class={{if calendar.loading "loading-mask"}}>
        {{calendar.Nav}}
        <calendar.Days
          @disabledDates={{this.disabledDates}}
          @startOfWeek={{1}}
        />
      </div>
    </PowerCalendar>
  </modal.body>
  <modal.footer>
    <button
      type="submit"
      class="btn btn-primary"
      data-test-report-save
      {{on "click" (prevent-default (fn this.reschedule this.rescheduleDate))}}
    >Save</button>
  </modal.footer>
</SyModal>
