<div class="btn-toolbar btn-toolbar--right form-group">
  <button type="button" class="btn btn-success" title="Move all entries to another date" data-test-report-reschedule {{action (mut showReschedule) true}}>Reschedule</button>
</div>

<div class="form-list form-list--reports">
  <div class="form-list-body">
    {{#each reports as |report|}}
      <ReportRow
        @report={{report}}
        @onSave={{route-action "saveReport"}}
        @onDelete={{route-action "deleteReport"}}
        data-test-report-row-id={{report.id}}
        data-test-report-row
      />
    {{/each}}
  </div>
</div>

{{#sy-modal visible=showReschedule size="small" as |modal|}}
  {{#modal.header}}
    Reschedule timesheet
  {{/modal.header}}
  {{#modal.body}}
    {{#power-calendar
      class = 'calendar'
      center = center
      selected = rescheduleDate
      onCenterChange = (action (mut center) value='moment')
      onSelect       = (action (mut rescheduleDate) value='moment')
      as |calendar|
      }}
      <div class={{if calendar.loading 'loading-mask'}}>
        {{calendar.nav}}
        {{calendar.days disabledDates=disabledDates startOfWeek=1}}
      </div>
    {{/power-calendar}}
  {{/modal.body}}
  {{#modal.footer}}
    <button type="submit" class="btn btn-primary" data-test-report-save {{action 'reschedule' rescheduleDate}}>Save</button>
  {{/modal.footer}}
{{/sy-modal}}
