<nav class="nav-top nav-top--fixed {{if this.expand 'nav-top--expand'}}">
  <header class="nav-top-header">
    <button
      class="nav-toggle nav-top-toggle"
      type="button"
      {{on "click" (toggle "expand" this)}}
    >
      <span class="nav-toggle-icon"></span>
    </button>
    <LinkTo @route="index">
      <TimedClock />
      <div class="nav-top-header-title">
        Timed
        <div class="nav-top-header-title-version">
          v{{app-version versionOnly=true showExtended=true}}
        </div>
      </div>
    </LinkTo>
  </header>
  <section class="nav-top-body">
    <ul class="nav-top-list">
      <li class="nav-top-list-item">
        <LinkTo @route="index">
          <FaIcon @icon="clock" />
          Tracking
        </LinkTo>
      </li>
      {{#unless this.navMobile}}
        {{#if (can "access page")}}
          <li class="nav-top-list-item">
            <LinkTo @route="analysis">
              <FaIcon @icon="chart-line" @prefix="fas" />
              Analysis
            </LinkTo>
          </li>
          <li class="nav-top-list-item">
            <LinkTo @route="statistics">
              <FaIcon @icon="chart-bar" />
              Statistics
            </LinkTo>
          </li>
          <li class="nav-top-list-item">
            <LinkTo @route="projects">
              <FaIcon @icon="briefcase" @prefix="fas" />
              Projects
            </LinkTo>
          </li>
        {{/if}}
      {{/unless}}
      {{#if this.currentUser.user.isSuperuser}}
        <li class="nav-top-list-item">
          <LinkTo @route="users.index">
            <FaIcon @icon="users" @prefix="fas" />
            Users
          </LinkTo>
        </li>
      {{/if}}
    </ul>
    <ul class="nav-top-list nav-top-list--right">
      <ReportReviewWarning />
      <li class="nav-top-list-item">
        <LinkTo @route="users.edit" @model={{this.currentUser.user.id}}>
          <FaIcon @icon="user" />
          {{this.currentUser.user.fullName}}
        </LinkTo>
      </li>
      <li class="nav-top-list-item">
        <a href="#" data-test-logout {{on "click" (optional @onLogout)}}>
          <FaIcon @icon="power-off" @prefix="fas" />
          Logout
        </a>
      </li>
    </ul>
  </section>
</nav>
