<div class="btn-group">
  <button data-test-previous title="Previous day" class="btn btn-default" {{action 'setPrevious'}}>
    {{fa-icon 'arrow-left'}}
  </button>
  <button data-test-today title="Today" class="btn btn-default" {{action 'setToday'}}>
    Today
  </button>
  <button data-test-next title="Next day" class="btn btn-default" {{action 'setNext'}}>
    {{fa-icon 'arrow-right'}}
  </button>
</div>

{{sy-datepicker-btn value=current on-change=(action on-change)}}
