<input type="checkbox" id="{{elementId}}-checkbox" checked={{checked}} disabled={{disabled}} onchange={{action on-change value='target.value'}}>
<label for="{{elementId}}-checkbox">{{#if hasBlock}}{{~yield~}}{{else}}{{~label~}}{{/if}}</label>
