<input
  type="checkbox"
  id={{this.checkboxElementId}}
  checked={{this.checked}}
  disabled={{this.disabled}}
  onchange={{action this.on-change value='target.checked'}}
>
<label for={{this.checkboxElementId}} title={{this.title}}>{{#if has-block}}{{~yield~}}{{else}}{{#if this.label}}{{~label~}}{{else}}&nbsp;{{/if}}{{/if}}</label>
