<input
  type="checkbox"
  id={{checkboxElementId}}
  checked={{checked}}
  disabled={{disabled}}
  onchange={{action on-change value='target.checked'}}
>
<label for={{checkboxElementId}} title={{title}}>{{#if hasBlock}}{{~yield~}}{{else}}{{#if label}}{{~label~}}{{else}}&nbsp;{{/if}}{{/if}}</label>
