{{one-way-checkbox checked disabled=disabled update=(action on-change) elementId=(concat elementId '-checkbox')}}
<label for="{{elementId}}-checkbox" title={{title}}>{{#if hasBlock}}{{~yield~}}{{else}}{{~label~}}{{/if}}</label>
