<div class="checkbox" ...attributes>
  <input
    type="checkbox"
    id={{this.checkboxElementId}}
    checked={{@checked}}
    disabled={{@disabled}}
    {{on "change" (fn this.onChange (pick "target.checked"))}}
    {{did-insert this.handleCheckBox}}
  >
  <label for={{this.checkboxElementId}} title={{@title}}>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @label}}
        {{@label}}
      {{else}}
        &nbsp;
      {{/if}}
    {{/if}}
  </label>
</div>
