{{#liquid-if task}}
  <div class="grid-cell">
    <form>
      <div class="form-group">
        <label>Name</label>
        {{input type='text' class='form-control' value=task.name}}
      </div>
    </form>
  </div>
  <div class="grid-cell">
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
  </div>
{{else}}
  <div class="grid-cell">
    <button class="btn btn-success" {{action 'createTask'}}>New Task</button>
  </div>
{{/liquid-if}}

<div class="grid-cell">
  <table class="table table--striped table--hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each project.tasks as |row|}}
        <tr class="pointer" {{action 'editTask' row}}>
          <td>{{row.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
