{{#if this.data.isRunning}}
  <div class="empty">
    <LoadingIcon />
  </div>
{{else if this.data.last.isError}}
  <div class="empty">
    <div>
      <FaIcon @icon="bolt" />
      <h3>Oops... Something went wrong</h3>
      <p>
        Have you tried turning it off and on again?
        <br>
        Please try refreshing the page.
      </p>
    </div>
  </div>
{{else if (not this.data.last.value.length)}}
  <div class="empty">
    {{yield 'empty' this.data.last.value}}
  </div>
{{else}}
  {{yield 'body' this.data.last.value}}
{{/if}}
