{{#if @data.isRunning}}
  <div class="empty">
    <LoadingIcon />
  </div>
{{else if @data.last.isError}}
  <div class="empty">
    <div>
      <FaIcon @icon="bolt" @prefix="fas" />
      <h3>Oops... Something went wrong</h3>
      <p>
        Have you tried turning it off and on again?
        <br />
        Please try refreshing the page.
      </p>
    </div>
  </div>
{{else if (not @data.last.value.length)}}
  <div class="empty">
    {{yield "empty" @data.last.value}}
  </div>
{{else}}
  {{yield "body" @data.last.value}}
{{/if}}
