<div class="btn-toolbar btn-toolbar--right form-group">
  <button
    type="button"
    class="btn btn-success"
    data-test-add-attendance
    {{on "click" this.addAttendance}}
  >Add attendance</button>
</div>
<div class="attendances">
  {{#if this.attendances}}
    {{#if (or (media "isXl") (media "isLg") (media "isMd"))}}
      {{#each this.attendances as |attendance|}}
        <AttendanceSlider
          data-test-attendance-slider
          data-test-attendance-slider-id={{attendance.id}}
          @attendance={{(changeset attendance this.AttendanceValidator)}}
          @onSave={{this.saveAttendance}}
          @onDelete={{this.deleteAttendance}}
        />
      {{/each}}
    {{else}}
      <table class="table table--striped table--attendances">
        <tbody>
          {{#each this.attendances as |attendance|}}
            {{#let (changeset attendance this.AttendanceValidator) as |model|}}
              <tr
                data-test-attendance-slider
                data-test-attendance-slider-id={{attendance.id}}
              >
                <td>
                  <SyTimepicker
                    @value={{model.from}}
                    @onChange={{fn (mut model.from)}}
                  />
                </td>
                <td>
                  <SyTimepicker
                    @value={{model.to}}
                    @onChange={{fn (mut model.to)}}
                  />
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    {{on "click" (fn this.deleteAttendance model)}}
                  ><FaIcon @icon="trash-can" /></button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    disabled={{not (and model.isDirty model.isValid)}}
                    {{on "click" (fn this.saveAttendance model)}}
                  ><FaIcon @icon="floppy-disk" /></button>
                </td>
              </tr>
            {{/let}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{else}}
    <div class="text-center"><em>No attendances yet</em></div>
  {{/if}}
  <div class="text-center">
    <br />
  </div>
</div>
