<div class="btn-toolbar btn-toolbar--right form-group">
  <button type="button" class="btn btn-success" data-test-add-attendance {{action 'addAttendance'}}>Add attendance</button>
</div>
<div class="attendances">
  {{#if this.attendances}}
    {{#if (or (media 'isXl') (media 'isLg') (media 'isMd'))}}
      {{#each this.attendances as |attendance|}}
        {{attendance-slider
          data-test-attendance-slider=true
          data-test-attendance-slider-id=attendance.id
          attendance = (changeset attendance this.AttendanceValidator)
          on-save    = (route-action 'saveAttendance')
          on-delete  = (route-action 'deleteAttendance')
        }}
      {{/each}}
    {{else}}
      <table class="table table--striped table--attendances">
        <tbody>
          {{#each this.attendances as |attendance|}}
            {{#with (changeset attendance this.AttendanceValidator) as |model|}}
              <tr
                data-test-attendance-slider
                data-test-attendance-slider-id={{attendance.id}}>
                <td>
                  {{sy-timepicker value=model.from onChange=(action (mut model.from))}}
                </td>
                <td>
                  {{sy-timepicker value=model.to onChange=(action (mut model.to))}}
                </td>
                <td>
                  <button type="button" class="btn btn-danger" {{action 'deleteAttendance' model}}>{{fa-icon 'trash'}}</button>
                  <button type="submit" class="btn btn-primary" disabled={{not (and model.isDirty model.isValid)}} {{action 'saveAttendance' model}}>{{fa-icon 'save'}}</button>
                </td>
              </tr>
            {{/with}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{else}}
    <div class="text-center"><em>No attendances yet</em></div>
  {{/if}}
  <div class="text-center">
    <br>
  </div>
</div>
