<nav class="nav-side {{if slide 'slide-in'}} {{if expand 'nav-side--expand'}} {{if autohide 'nav-side--autohide'}}">
  <header class="nav-side-header">
    <button class="nav-toggle nav-side-toggle" type="button" {{action 'toggle'}}>
      <span class="nav-toggle-icon"></span>
    </button>
    {{#link-to headerLink}}
      {{timed-clock}}
      <div class="nav-side-header-title">
        {{title}}
      </div>
    {{/link-to}}
  </header>
  <section class="nav-side-body">
    {{yield this 'body'}}
    <span class="app-version">v{{app-version}}</span>
  </section>
</nav>
{{yield this 'page-content'}}
<div role="button" class="page-main-overlay" {{action 'close' on='click'}}></div>
