<header class="nav-side-header">
  <button class="nav-toggle nav-side-toggle" {{action (toggle 'expand' this)}}>
    <span class="nav-toggle-icon"></span>
  </button>
  {{#link-to 'index'}}
    {{timed-clock}}
    <div class="nav-side-header-title">Timed</div>
  {{/link-to}}
</header>

<section class="nav-side-body">
  <ul class="nav-side-list">
    <li class="nav-side-list-item">
      {{#link-to 'index'}}
        {{fa-icon 'clock-o'}} Tracking
      {{/link-to}}
    </li>
    <li class="nav-side-list-item">
      {{#link-to 'users.edit' user.id}}
        {{fa-icon 'user'}} Profile
      {{/link-to}}
    </li>
    <li class="nav-side-list-item">
      {{#link-to 'statistics'}}
        {{fa-icon 'bar-chart'}} Statistics
      {{/link-to}}
    </li>
    {{#if user.isSuperuser}}
      <li class="nav-side-list-item">
        {{#link-to 'users.index'}}
          {{fa-icon 'users'}} Users
        {{/link-to}}
      </li>
    {{/if}}
  </ul>
  <ul class="nav-side-list">
    <li class="nav-side-list-header"></li>
    <li class="nav-side-list-item">
      <a href="#" data-test-logout {{action on-logout on='click'}}>
        {{fa-icon 'sign-out'}} Logout
      </a>
    </li>
  </ul>
  <span class="app-version">v{{app-version}}</span>
</section>