<PagePermission>
  <div class="grid grid--12of12 grid-md--4of12">
    <div class="grid-cell"></div>
    <div class="grid-cell">
      {{#if intersection.isRunning}}
        <div class="empty">
          <LoadingIcon />
        </div>
      {{else}}
        <h1 class="text-center">
          {{#unless (eq intersection.lastSuccessful.value.meta.count 1)}}
            Bulk edit {{intersection.lastSuccessful.value.meta.count}} reports
          {{else}}
            Edit report
          {{/unless}}
        </h1>
        <div class="card">
          <div class="card-block">
            {{#let intersection.lastSuccessful.value.model as |model|}}
              <ValidatedForm
                @model={{changeset model IntersectionValidations}}
                @on-submit={{perform save}}
                as |f|
              >
                <TaskSelection
                  @on-set-customer={{action (queue (action (mut f.model.customer)) (action 'validate' f.model))}}
                  @on-set-project={{action (queue (action (mut f.model.project)) (action 'validate' f.model))}}
                  @on-set-task={{action (queue (action (mut f.model.task)) (action 'validate' f.model))}}
                  @initial={{hash
                    customer=_customer
                    project=_project
                    task=_task
                  }}
                  as |t|
                >
                  <f.input @name='task' as |fi|>
                    <div class="form-group" data-test-customer>
                      <label>
                        Customer
                        {{#unless model.customer}}
                          <NotIdenticalWarning />
                        {{/unless}}
                        {{#unless (eq f.model.change.customer.id model.customer.id)}}
                          <ChangedWarning />
                        {{/unless}}
                      </label>
                      <t.customer />
                    </div>
                    <div class="form-group" data-test-project>
                      <label>
                        Project
                        {{#unless model.project}}
                          <NotIdenticalWarning />
                        {{/unless}}
                        {{#unless (eq f.model.change.project.id model.project.id)}}
                          <ChangedWarning />
                        {{/unless}}
                      </label>
                      <t.project />
                    </div>
                    <div class="form-group" data-test-task>
                      <label>
                        Task
                        {{#unless model.task}}
                          <NotIdenticalWarning />
                        {{/unless}}
                        {{#unless (eq f.model.change.task.id model.task.id)}}
                          <ChangedWarning />
                        {{/unless}}
                      </label>
                      <t.task />
                    </div>
                  </f.input>

                  <f.input
                    data-test-comment
                    @name='comment'
                    as |fi|
                  >
                    <label>
                      Comment
                      {{#if (eq model.comment null)}}
                        <NotIdenticalWarning />
                      {{/if}}
                      {{#unless (eq f.model.comment model.comment)}}
                        <ChangedWarning />
                      {{/unless}}
                    </label>
                    <input
                      type="text"
                      placeholder="Enter comment..."
                      class="form-control comment-field"
                      onchange={{action fi.update value='target.value'}}
                      value={{fi.value}}
                    >
                    {{#if model.task.project.customerVisible}}
                      <CustomerVisibleIcon class="customer-visible-icon" />
                    {{/if}}
                  </f.input>

                  <f.input
                    data-test-not-billable
                    @name='notBillable'
                    as |fi|
                  >
                    <SyCheckbox
                      @checked={{fi.value}}
                      @on-change={{fi.update}}
                    >
                      Not billable
                      {{#if (eq model.notBillable null)}}
                        <NotIdenticalWarning />
                      {{/if}}
                      {{#unless (eq f.model.notBillable model.notBillable)}}
                        <ChangedWarning />
                      {{/unless}}
                    </SyCheckbox>
                  </f.input>

                  <f.input
                    data-test-review
                    @name='review'
                    as |fi|
                  >
                    <SyCheckbox
                      @checked={{fi.value}}
                      @on-change={{fi.update}}
                    >
                      Needs Review
                      {{#if (eq model.review null)}}
                        <NotIdenticalWarning />
                      {{/if}}
                      {{#unless (eq f.model.review model.review)}}
                        <ChangedWarning />
                      {{/unless}}
                    </SyCheckbox>
                  </f.input>

                  <f.input
                    data-test-billed
                    @name='billed'
                    as |fi|
                  >
                    <SyCheckbox
                      @checked={{fi.value}}
                      @on-change={{fi.update}}
                      @title="You do not have appropriate roles for this action."
                      @disabled={{not canBill}}
                    >
                      Billed
                      {{#if (eq model.billed null)}}
                        <NotIdenticalWarning />
                      {{/if}}
                      {{#unless (eq f.model.billed model.billed)}}
                        <ChangedWarning />
                      {{/unless}}
                    </SyCheckbox>
                  </f.input>

                  <f.input
                    data-test-verified
                    @name='verified'
                    as |fi|
                  >
                    <SyCheckbox
                      @checked={{fi.value}}
                      @on-change={{fi.update}}
                      @title={{toolTipText}}
                      @disabled={{or (not canVerify) needsReview}}
                    >
                      Verified
                      {{#if (eq model.verified null)}}
                        <NotIdenticalWarning />
                      {{/if}}
                      {{#unless (eq f.model.verified model.verified)}}
                        <ChangedWarning />
                      {{/unless}}
                    </SyCheckbox>
                  </f.input>

                  <div class="text-right">
                    <button data-test-cancel type="button" class="btn" {{action 'cancel'}}>Cancel</button>
                    <button data-test-reset type="button" class="btn" {{action (queue t.reset (action 'reset' f.model))}}>Reset</button>
                    <f.submit />
                  </div>
                </TaskSelection>
              </ValidatedForm>
            {{/let}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="grid-cell"></div>
  </div>
</PagePermission>
