<h1>Projects</h1>

<div class="toolbar">
  <div class="toolbar-content">
    {{#link-to 'projects.new' tagName='button' class='btn btn-success'}}New Project{{/link-to}}
  </div>
  <div class="toolbar-content toolbar-content--right">
    <div class="form-inline">
      <div class="form-group">
        <input type="search" class="form-control" value={{search}} placeholder='Search' oninput={{action 'updateParam' 'search'}}>
      </div>
      <div class="form-group">
        {{#power-select
          options     = customers
          selected    = selectedCustomer
          onchange    = (action (mut selectedCustomer))
          placeholder = 'Customer'
          as |customer|}}
          {{customer.name}}
        {{/power-select}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" {{action 'clearFilter'}}>Clear Filter</button>
      </div>
    </div>
  </div>
</div>

{{#paginated-table model=model page=page as |header body|}}
  {{#paginated-table.header}}
    <th>Name</th>
    <th>Customer</th>
    <th>From</th>
    <th>To</th>
    <th>Done</th>
  {{/paginated-table.header}}
  {{#paginated-table.body loading=loading model=model as |row|}}
    {{#link-to 'projects.edit' row.id tagName='tr' class='pointer'}}
      <td>{{row.name}}</td>
      <td>{{row.customer.name}}</td>
      <td>{{#if row.from}}{{moment-format project.from 'DD.MM.YYYY'}}{{/if}}</td>
      <td>{{#if row.to}}{{moment-format project.to 'DD.MM.YYYY'}}{{/if}}</td>
      <td>{{fa-icon (concat (if row.done 'check-' '') 'square-o')}}</td>
    {{/link-to}}
  {{/paginated-table.body}}
{{/paginated-table}}
