{{#task-selection
  on-set-task = (action (mut tracking.activity.task))
  initial     = (hash
    task      = tracking.activity.task
  )
as |t|}}
  <form {{action 'start' on='submit'}}>
    <div class="form-group" data-test-tracking-customer>
      {{t.customer}}
    </div>
    <div class="form-group" data-test-tracking-project>
      {{t.project}}
    </div>
    <div class="form-group" data-test-tracking-task>
      {{t.task}}
    </div>
    <div class="form-group" data-test-tracking-comment>
      {{input
        type        = 'text'
        class       = 'form-control'
        placeholder = 'Comment'
        name        = 'comment'
        value       = tracking.activity.comment
      }}
    </div>
    <div class="form-group">
      {{record-button
        activity  = tracking.activity
        recording = tracking.activity.active
        on-start  = (action (perform tracking.startActivity))
        on-stop   = (action (queue (action (perform tracking.stopActivity)) t.clear))
      }}
    </div>
  </form>
{{/task-selection}}
