<form class="form-inline" {{action 'start' on='submit'}}>
  <div class="form-group">
    {{#power-select
      disabled    = activity.active
      options     = _customers
      selected    = customer
      onchange    = (action (mut customer))
      placeholder = 'Customer'
      as |customer|}}
      {{customer.name}}
    {{/power-select}}
  </div>
  <div class="form-group">
    {{#power-select
      disabled    = (or (not projects.length) activity.active)
      options     = _projects
      selected    = project
      onchange    = (action (mut project))
      placeholder = 'Project'
      as |project|}}
      {{project.name}}
    {{/power-select}}
  </div>
  <div class="form-group">
    {{#power-select
      disabled    = (or (not tasks.length) activity.active)
      options     = _tasks
      selected    = task
      onchange    = (action (mut task))
      placeholder = 'Task'
      as |task|}}
      {{task.name}}
    {{/power-select}}
  </div>
  <div class="form-group">
    {{input
      type        = 'text'
      class       = 'form-control'
      placeholder = 'Comment'
      value       = activity.comment
      disabled    = activity.active
    }}
  </div>
  <div class="form-group">
    {{record-button
      activity  = activity
      recording = recording
      ready     = ready
      paused    = paused
      start     = (action 'start')
      stop      = (action 'stop')
      pause     = (action 'pause')
    }}
  </div>
</form>
