<div
  class="{{if this.option.archived 'inactive'}}"
  title="{{if this.option.isTask this.option.longName this.option.name}}{{if this.option.archived ' (archived)'}}"
>
  {{#if this.option.isTask}}
    <span class="history">
      <i class="fa fa-history"></i>
      <span class="history-text">
        <small>{{this.option.project.customer.name}} > {{this.option.project.name}}</small>
        {{this.option.name}}
      </span>
    </span>
  {{else}}
    {{this.option.name}}
  {{/if}}
  {{#if this.option.archived}}
    <i class="fa fa-archive"></i>
  {{/if}}
</div>
