{{#sy-sidenav-list 'Tracking'}}
  {{sy-sidenav-item 'index'     'clock-o'        'Today'}}
  {{sy-sidenav-item 'overview'  'calendar'       'Overview'}}
  {{sy-sidenav-item 'sick-days' 'frown-o'        'Sick Days'}}
  {{sy-sidenav-item 'school'    'graduation-cap' 'School'}}
  {{sy-sidenav-item 'holidays'  'plane'          'Holidays'}}
{{/sy-sidenav-list}}

{{#sy-sidenav-list 'Management'}}
  {{sy-sidenav-item 'projects'       'list'     'Projects'}}
  {{sy-sidenav-item 'customers'      'suitcase' 'Customers'}}
  {{sy-sidenav-item 'task-templates' 'gears'    'Task Templates'}}
  {{sy-sidenav-item 'users'          'user'     'Users'}}
{{/sy-sidenav-list}}

{{#sy-sidenav-list ' '}}
  {{#sy-sidenav-item}}
    <a href="#" {{action 'invalidateSession'}}>
      <i class="fa fa-sign-out"></i>
      Logout
    </a>
  {{/sy-sidenav-item}}
  {{sy-sidenav-item 'about' 'info-circle' 'About'}}
{{/sy-sidenav-list}}
