<div
  title="{{this.option.name}}{{if this.option.archived ' (archived)'}}"
  class="{{if this.option.archived 'inactive'}}"
  id="task-option-{{this.option.id}}"
>
  {{#if (and this.current (or (media 'isMd') (media 'isLg') (media 'isXl')))}}
    <ProgressTooltip @target={{concat '#task-option-' this.option.id}} @visible={{this.current}} @model={{this.option}} />
  {{/if}}
  {{this.option.name}}
  {{#if this.option.archived}}
    <i class="fa fa-archive"></i>
  {{/if}}
</div>
