<div title={{this.title}}
  role="button"
  {{on "click" this.click}}
  {{style this.style}}
  class="weekly-overview-day
    {{if @active "active"}}
    {{if @absence "absence"}}
    {{if @holidy "holiday"}}
    {{unless @workday "weekend"}}
  "
  ...attributes
  >
  <div class="bar"></div>
  <div class="day">
    {{moment-format @day 'DD'}}
  {{moment-format @day 'dd'}}
  </div>
</div>
